[2017-09-15 07:57] RasCarlito opened #1 "Publish to npm"
`axios-cache-adapter` name is available for now

[2017-09-15 07:58] RasCarlito opened #2 "Clean dependencies"
Clean dependencies from `superapi-cache` fork

[2017-09-18 15:27] #1 closed

[2017-09-18 15:27] #2 closed

[2017-09-24 07:10] RasCarlito opened #3 "Bust cache automatically"
When getting a POST, PUT, PATCH, DELETE request to a URL try clearing the cache, if any, to that same URL.

[2017-10-06 01:40] janbaykara opened #4 "SyntaxError: Unexpected token import"
This could well be me noob'ing with babel but this shows up when I try to use your pkg (`import { setupCache } from 'axios-cache-adapter'`) and run with `nodemon server/www.js --exec babel-node`, I get this error:
[code]

[2017-10-08 08:56] RasCarlito commented on #4
Hi @janbaykara !

Thanks for reporting the bug. I'll switch to `lodash` instead of `lodash-es` for it to work in an environment without ESM support. I haven't tried running my script in nodejs very much. I definitly needs more testing.

[2017-10-08 09:09] RasCarlito commented on #4
Released a patch hoping to fix this [v1.5.2](https://github.com/RasCarlito/axios-cache-adapter/releases/tag/1.5.2)

[2017-10-08 09:09] #4 closed

[2017-10-08 09:12] RasCarlito commented on #3
The lib actually does that already: https://github.com/RasCarlito/axios-cache-adapter/blob/master/src/index.js#L70

Should add a test for it

[2017-10-08 09:22] mbsimonovic opened #6 "Feature request: limit the total number of cached items"

[2017-10-08 11:14] RasCarlito commented on #6
Hi @mbsimonovic
How would you need this feature to behave ?
Would it work like a sort of cache queue: last in, first out ?
Let's say the limit is 10 cached requests. The first 10 requests are cached. When the 11th request is made the first cached request is cleared from the cache. Is that what you had in mind ?

Cheers

[2017-10-08 11:43] mbsimonovic commented on #6
@RasCarlito exactly. My worry is if theres no limit then i could get out of memory. Time based exipiration does not prevent this.

[2017-10-09 09:04] #6 closed

[2017-10-09 09:06] RasCarlito commented on #6
@mbsimonovic I've merged this feature onto the master branch. I'll release the new version this week after adding a bit more tests. Thanks again for the request :beers:

[2017-10-09 11:29] RasCarlito commented on #6
@mbsimonovic Actually I just released a new version: [v1.6.0](https://github.com/RasCarlito/axios-cache-adapter/releases/tag/1.6.0)

[2017-10-29 22:06] RasCarlito opened #12 "Re-write old tests"
Re-write the old tests from `superapi-cache`

[2017-10-29 22:14] RasCarlito opened #13 "Add opt-out option for clearing the store when no space is left"
When the store encounters a writing error the cache is cleared assuming it is a size quota error which can be quickly encoutered when using `localStorage`.

[code]

[2017-10-29 22:26] RasCarlito commented on #3
Added a test in the rework branch #11

[2017-10-29 22:45] RasCarlito opened #14 "Add travis-ci hook"
Execute tests on https://travis-ci.org/

Which means executing tests in phantomjs or alike

[2017-10-30 10:13] RasCarlito opened #15 "Add coverage and code quality reports"
Code coverage: https://codecov.io/gh/RasCarlito/axios-cache-adapter
Code quality: https://www.bithound.io/github/RasCarlito/axios-cache-adapter

[2017-10-31 08:59] RasCarlito opened #16 "Add better test for cache store limit option"
The current test sets the limit to one request which is not good enough. It couldn't catch the fact that the store size was not checked against the limit given in the config.

[2017-11-02 10:02] RasCarlito opened #17 "Use another service than httpbin.org for tests"
Create a fake local service for executing http request during unit tests.

httpbin.org is great but sometimes the network is not fast enough or maybe the requests are getting throttled by httpbin because I use it too much.

Anyway, the default 2sec timeout for each tests in karma is not enough. Augmenting that timeout is not really a solution.

[2017-11-03 18:25] #3 closed

[2017-11-03 18:25] #12 closed

[2017-11-03 18:25] #13 closed

[2017-11-03 18:25] #14 closed

[2017-11-03 18:25] #15 closed

[2017-11-04 10:50] RasCarlito opened #18 "Reach 100% code coverage \o/"
Not many tests are missing to reach 100% code coverage.

https://codecov.io/gh/RasCarlito/axios-cache-adapter/tree/master/src

[2017-11-04 10:51] RasCarlito opened #19 "Get better score on bithound"
There are some dependency issues that can be fixed.

But bithound shows lint issues for the async keywork which is not ideal. Maybe reach out to them for a bug fix?

[2017-11-08 03:49] FMCorz opened #20 "Get stale cache on network error"
Hi,

I would like to be able to return the cache when Axios returns a network error. From what I can see it is not possible as it is because the cache store throws an error when the cache is stale. And also because there is no wrapper try/catch around the call to the default adapter. Is that right?

Would you be interested in supporting such feature? If yes, how would you recommend it to be coded?

[2017-11-08 06:15] FMCorz commented on #20
I've put something together, let me know what you think:

https://gist.github.com/FMCorz/540bdd3e740d69dbf84fa0dc17cea940

[2017-11-08 18:59] RasCarlito commented on #20
Hi @FMCorz !

Awesome idea :+1:

There's several things to consider when developing such a fallback.

First you're right there is no try/catch around the default adapter call because I wanted to leave that burden in the user land.

Your implementation looks fine! :smiley:

We should also consider if this action should trigger on any kind of network error (4xx, 5xx).
Maybe there should be a second

[2017-11-08 18:59] RasCarlito commented on #20
Hi @FMCorz !

Awesome idea :+1:

There's several things to consider when developing such a fallback.

First you're right there is no try/catch around the default adapter call because I wanted to leave that burden in the user land.

Your implementation looks fine! :smiley:

We should also consider if this action should trigger on any kind of network error (4xx, 5xx).
Maybe there should be a second

[2017-11-08 22:05] RasCarlito commented on #20
Ok this got me intrigued so I setup a branch trying to add this feature check out the linked PR :smiley:

[2017-11-08 22:27] RasCarlito opened #22 "Replace babel-preset-es2015 with babel-preset-env"
The [bithound report](https://www.bithound.io/github/RasCarlito/axios-cache-adapter/02c5690cc8bfce182544f66e73bc9467fe2d6715/dependencies/npm#filter-failing-dep) points out that `babel-preset-es2015` has been deprecated and should be replaced with `babel-preset-env`.

I just need to figure out what targets to pass to `babel-preset-env` to get the same output as with `babel-preset-es2015`

[2017-11-09 02:29] FMCorz commented on #20
Heh, I didn't have time to give it a go ;-). I agree with your comments. You will see in the comments I left on the PR what I think about handling the statuses, etc... It might be better to have functions that do these things, rather than trying to cater for all needs at once. Example:

[code]

Now, in these examples you cannot substitute the response, you can only dynamically tell whether the sta

[2017-11-09 03:38] FMCorz opened #23 "Permit some config keys to be set per request"
For your consideration, I thought it may be useful to accept the override of some parameters on a request basis. This may not be useful today, but could come handy at some point.

So for your consideration, I would suggest that the `cache` key from the `request` config, is merged on top of the global config of the cache adapter. Example from an adapter wrapping your adapter:

[code]

However, in t

[2017-11-09 03:49] FMCorz opened #24 "Support for cache skip or invalidation"
In my application, I need to be able to force delete whichever cache I had set. So, I would like to suggest the ability to be able to delete a cached key, without the need to perform the request itself. That is useful when the developer knows that some data is stale, but does not need to request it yet.

In fact, it probably is better to have the option to set the data stale, rather than deleting

[2017-11-09 09:16] RasCarlito commented on #23
Very good point! This should not be to hard to implement :smiley:

[2017-11-09 14:54] #23 closed

[2017-11-09 15:57] RasCarlito opened #27 "Add pre-commit hook to enforce `standard` code style"
Plus add `standard` badge in readme

[2018-01-23 15:24] mofasass commented on #24
I am in the same situation as you, however my solution is was to use vuex to keep track of stale endpoints. Your solution is a lot more elegant. Woud you mind explaining where you get `cacheStore` from? Thank you!

[2018-01-23 16:18] FMCorz commented on #24
It's been a while since I looked into this but I believe this is the instance of localForage in `api.store`. See `store` option.

[2018-03-11 23:14] gonstr opened #28 "transformResponse behaviour"
When you supply a function to the axios transformResponse config, the function gets called both before the response gets cached, and when a response is retrieved from the cache later, which causes code like this to fail:

[code]

The two calls to callApi() will return different data since it runs transformResponse on the cached response. You need to write code like this for it to work:

[code]

It

[2018-03-12 14:13] RasCarlito commented on #28
Hi @gonstr !

Thanks for using `axios-cache-adapter` :)

I haven't used the `transformResponse` functionnality of `axios` before so I wasn't aware of this. It should be possible!

I'll check in to it when I have time but if you find a solution it would be awesome if you submit a PR with the modifications.

Cheers

[2018-03-14 22:43] RasCarlito commented on #28
Nice digging around! :)

Well then I only see one solution.

We can wrap each `transformResponse` method to apply the kind of logic you showed in your first example but internally in `axios-cache-adapter` so that the final user doesn't have to.

Something like:

[code]

This can probably be done directly in around [here](https://github.com/RasCarlito/axios-cache-adapter/blob/master/src/index.js#L2

[2018-03-14 22:52] RasCarlito commented on #28
And sorry for the response delay @gonstr I wish I had more time to work on this, but priorities shift over time =/

[2018-03-14 23:02] RasCarlito commented on #28
Also I have just pushed a small commit to the master branch fixing linting issues

[2018-03-18 17:39] RasCarlito commented on #28
Hi @gonstr !

I've added a test for the `transformResponse` as you can see in [this PR](https://github.com/RasCarlito/axios-cache-adapter/pull/30/files) and the test actually passes!

I did have a problem at first because I set it up like in your example.

[code]

Running this code actually fails on the first `await callApi()` because `data` is a string and not an object.

The default `transformRe

[2018-03-18 21:10] gonstr commented on #28
Hi @RasCarlito

I don't think you need to add the default transformResponse for it to get parsed to json. Maybe that's something they changed in later versions of axios? That pull request you referenced is quite old?

Also, I saw the test you added but I think because of race conditions you need to sometimes call the api more than twice to see the bug.

See this on runkit:

https://runkit.com/gons

[2018-03-20 09:10] RasCarlito commented on #28
Right! Thanks for the example! Re-opening the issue

I'll try to work on it this week :)

[2018-03-21 09:21] RasCarlito commented on #22
Fixed in #29

[2018-03-21 09:21] #22 closed

[2018-03-21 09:24] RasCarlito commented on #18
Fixed in #29

[2018-03-21 09:24] #18 closed

[2018-03-21 09:30] RasCarlito commented on #19
Reached 97/100. Good enough

Could have been 100/100 if the [`webpack-cli` dev dependency didn't use `shelljs`](https://www.bithound.io/github/RasCarlito/axios-cache-adapter/master/dependencies/npm/webpack-cli#security-advisories) which is not really a problem.

Another issue is bithound linting which fails on `async/await` commands.

[2018-03-21 09:30] #19 closed

[2018-03-21 09:30] RasCarlito commented on #19
Reached 97/100. Good enough

Could have been 100/100 if the [`webpack-cli` dev dependency didn't use `shelljs`](https://www.bithound.io/github/RasCarlito/axios-cache-adapter/master/dependencies/npm/webpack-cli#security-advisories) which is not really a problem.

Another issue is bithound linting which fails on `async/await` commands.

[2018-04-11 06:06] izmn opened #31 "Unable to cache query params"
I want to cache requests with query params,
but cache always ignore query params, even when I set `exclude.query` to `false`

Example:

[code]

first request:
[code]
second request:
[code]

[2018-04-30 09:31] miluoshi commented on #31
@izmn You can also include stringified params in cache key:

[code]

[2018-05-24 01:27] ggedde commented on #24
Here is my implementation for invalidation (clear)

[code]

Notice Regex for clearing groups
Ex.
`api.cache.clear('post', true)` For clearing all keys with 'post' in the fetching url

Would be nice to see something like this as part of the Plugin :)

[2018-05-25 15:05] RasCarlito commented on #24
Thanks a lot everyone for your input on this!
I haven't been able to work as much as I would want on this lately.

If anyone feels like making a pull request with the modifications I'll gladly merge it!

Else, hope I find some time working on it soon :)

Cheers 🍻

[2018-06-22 03:49] kosanna opened #32 "Current release version depends on axios 0.16"
Hi there!

We're using axios-cache-adapter currently and thus rely on axios subdependency which is under the library itself. We'd noticed that the latest master of the cache adapter is already pointed to 0.18, however has not been released yet.

Could you please release it or make a separate release with upgrade to 0.18 as we need a feature that's been added in 0.18.

Thanks.

[2018-06-24 18:28] RasCarlito commented on #32
Hi @kosanna

Sure thing, I'll release a `2.1.0` tag and publish it to npm 😃

[2018-06-24 18:45] RasCarlito commented on #32
Here is [the release](https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.1.0)

If you have other concerns with the library don't hesitate.

Cheers 🍻

[2018-06-24 18:45] #32 closed

[2018-06-25 06:45] kosanna commented on #32
Cheers 🍻

[2018-07-03 08:28] ion-willo opened #33 "Nodejs - ReferenceError: window is not defined"
Unable to use this adaptor on my server as I get:

[code]

[2018-07-03 08:50] RasCarlito commented on #33
Hi @ion-willo yes I noticed this 😞

I am currently looking for a fix. Definitely something with the webpack configuration.

For now you may revert to the `2.0.0` tag which does not have this problem to my knowledge.

If you'd like to help finding a solution you are very welcome!

Cheers

[2018-07-03 11:37] RasCarlito commented on #33
The [`target: 'web:` in the webpack config](https://github.com/RasCarlito/axios-cache-adapter/blob/master/webpack.config.js#L90) seems to be the culprit for this bug.

But as stated in the [webpack targets doc](https://webpack.js.org/concepts/targets/#multiple-targets), webpack does not support multiple targets.

Having a different build for each target does not sound great to me, but maybe there

[2018-07-09 15:39] RasCarlito opened #35 "Enhance readme"
* [ ] Mention `babel-preset-env` instead of `babel-preset-es2015`
* [ ] Mention how a different build is generated for Node.js vs Browsers
* [ ] Verify that unpkg example still works
* [ ] Show examples with `async`/`await`
* [ ] Add docs about reading `response.request.fromCache` to determine if response came from cache or not

[2018-07-12 12:14] RasCarlito opened #36 "Add runkit example"
Integrate with runkit on npm by adding an example file in the repository and then linking to it using the `"tonicExampleFilename"` field in the `package.json` file.

See https://discuss.runkit.com/t/customizing-your-npm-packages-page-on-tonic/23

[2018-07-13 09:55] ion-willo commented on #33
Thanks for the update @RasCarlito
Sorry I couldn't be of more help - project pressures and all that.

[2018-07-13 09:55] #33 closed

[2018-07-13 13:19] RasCarlito commented on #33
Will release a new version with the fix ASAP 😃

[2018-07-18 12:42] RasCarlito opened #37 "Travis build fails for master branch on node v6"
https://travis-ci.org/RasCarlito/axios-cache-adapter/jobs/403558278

[2018-07-23 12:03] RasCarlito commented on #37
Travis fixed itself

[2018-07-23 12:03] #37 closed

[2018-07-23 12:20] RasCarlito commented on #33
@ion-willo Just released [v2.1.1](https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.1.1) with the node fix

[2018-07-24 11:23] ggedde opened #38 "Optimize Lodash - Package is importing the entire lodash bundle"
When using this this package with Vuejs and Webpack it requires all of lodash. Instead if should just be using a small set of items.  This is causing an extra large lodash bundle in my vendor.js bundle.
I am using it in this method and using the instance of axios pre-configured with the cache adapter
[code]
Removing this package and just using axios directly resolve the issue.

[2018-07-24 12:12] RasCarlito commented on #38
Hi @ggedde !

The `axios-cache-adapter` webpack build is configured to leave out lodash and only require the bits and pieces necessary but I haven't gone as far as inspecting the bundle in a real app using the package, so there is surely room for improvement!

I'll check it out as soon as possible 😃

Thanks for reporting the issue.

Cheers

[2018-07-24 19:44] ggedde commented on #38
Sure thing,
I had a quick look around and for the most part it seems that your are just pulling in only the peices you need, but I did notice on test/spec/request.spec.js that it is pulling in the entire lodash.  However, I would assume that tests would not get compiled into package that I am pulling in, but not sure.  If that is not the issue, then I wonder if it is something else or possibly a t

[2018-10-01 13:44] miluoshi commented on #28
Any updates on this?

[2018-10-04 09:44] microstudi commented on #31
I've been in the same issue, just point that @miluoshi solution works except if you are using URLSearchParams as query request in axios. In that case `JSON.stringify` will return an empty string. You will need to add something like this to overcome it:
[code]

[2018-10-05 13:37] abarke opened #39 "memoryDriver not working"
I tried the **localforage-memoryStorageDriver** on it's own using the example in the README.md as a base and it doesnt seem to work at all. If I swap it for the inbuilt drivers localforage.INDEXEDDB for example it works fine or do not specify the driver it uses the default drivers.

Can someone provide a fix or a working example?

[2018-10-07 13:47] RasCarlito commented on #28
Hi @miluoshi! Sorry no updates on this so far. I haven't worked on the lib in a while. I did try this week to find the source of the bug. I am able to reproduce it but I still need to pin point the origin.

I got a few hours in the train ahead of me, will try to work this out.

Do you have a real use case where this problem occurs that you could share?

Cheers

[2018-10-07 14:15] miluoshi commented on #28
Thanks for the info!
My use case was that server returned response data wrapped in object property, ie.
[code]

[2018-10-07 14:16] RasCarlito commented on #28
Ok so I found the culprit. Just posted #40 with the fix.

This fix is only applicable when `axios-cache-adapter` is used with its memory store. I don't think this would happen when using a `LocalForage` instance as store but I need to do some more testing to be sure.

[2018-10-07 14:17] RasCarlito commented on #28
Thanks for the extra info @miluoshi

I think the PR I posted should fix your use case then 😄

[2018-10-08 07:15] RasCarlito commented on #39
Hi @abarke

I'll try to take a look at what the problem is using the `localforage-memoryStorageDriver`. Did you see any particular error or was it just failing silently?

Cheers

[2018-10-08 07:18] RasCarlito commented on #31
Thanks for the addition @microstudi !

I'll try to include this in the default `key` method. Or if someone wants to post a PR with the modifications 😄

[2018-10-08 08:42] abarke commented on #39
Thanks @RasCarlito it was failing silently.

[2018-10-08 13:17] RasCarlito commented on #39
Thanks for the info!

Can you tell me what version of `localforage` and `localforage-memoryStorageDriver` you are using?

[2018-10-08 13:28] abarke commented on #39
axios-cache-adapter 2.1.1
localforage 1.7.2
localforage-memoryStorageDriver 0.9.2

[2018-10-08 17:49] RasCarlito commented on #39
Hey @abarke ! I added a unit test to make sure it is continually tested.

I was able to make it work like this:

[code]

Tell me if this works for you 😃

[2018-10-08 17:54] RasCarlito opened #42 "Fix Travis CI"
The tests in TravisCI are not working anymore. Fails with the following error message:

[code]

When executing the tests locally everything works fine so I guess that it is linked to Travis.

[2018-10-08 18:31] #42 closed

[2018-10-08 18:34] #28 closed

[2018-10-08 18:43] RasCarlito commented on #28
Will try to release this soon 😃

My first solution was using the `cloneDeep` method from `lodash` when reading from the in memory store.

But then I changed my mind and instead of adding another external dependency I used `JSON.stringify()` when writing and `JSON.parse()` when reading.

Hope this is a satisfying solution. Problems would occur if the fetched data is not JSON but I would have had th

[2018-10-08 19:13] miluoshi commented on #28
@RasCarlito I think JSON.stringify/parse solution is valid. You can `JSON.stringify` any JS value (boolean, number, string, object, array). So if you store stringified value and ten get it back by parsing, no information is lost.
As far as I know the only information lost by stringifying JS values is object's prototype, but it should not be a concern as object can be obtained from response data on

[2018-10-09 09:48] RasCarlito opened #44 "Update readme"
A lot of information is not correct in the readme and some need more enhancement
* [x] Bundled build does not exist anymore
* [x] Different build for node vs browser
* [x] Fix `localforage` example to show how to use `localforage-memoryStorageDriver`
* [x] Update info about babel (preset-env is used instead of es2015)

[2018-10-09 11:32] microstudi commented on #31
Probably I can do it in a few days!

[2018-10-10 12:16] #44 closed

[2018-10-10 14:03] RasCarlito commented on #38
Hi @ggedde ! Sorry for not getting back to you any quicker. Had other life priorities 😄

How did you inspect and find that your bundle contained all of lodash when using `axios-cache-adapter`?

For instance, I just setup a test project with the bare minimum (axios-cache-adapter, webpack, babel) here: https://github.com/RasCarlito/test-axios-cache-adapter

And the generated [dist.js](https://github

[2018-10-10 19:09] ggedde commented on #38
Yeah I was just using the analyzer.
Once I removed your package and ran the analyzer again lodash was gone.

I haven't checked it anytime recently, but I will let you know when I do.

Did you update test/spec/request.spec.js?

[2018-10-11 09:03] RasCarlito commented on #38
Ok thanks 😃

Nope, no particular changes since you found this

[2018-10-11 13:41] #35 closed

[2018-10-11 13:44] RasCarlito opened #45 "Add documentation about checking if request is from cache or not"
Add documentation and examples about checking if response is served from network or from cache

* [ ] Reading the `response.request.fromCache`

[2018-10-11 13:46] RasCarlito commented on #17
Use sinonjs to stub the axios instances used in the tests

[2018-10-11 14:36] RasCarlito opened #47 "Stop using beta versions of babel and babel-loader"
`babel` v7 has been officially released. No need to use the beta version anymore.

[2018-10-11 14:48] RasCarlito commented on #36
Fixed by #46

[2018-10-11 14:48] #36 closed

[2018-10-11 15:13] #47 closed

[2018-10-12 14:03] RasCarlito commented on #17
Find a way to proxy axios import in `src/index.js`

proxyquire only works for node.js 😢

Tried [`rewiremock`](https://github.com/theKashey/rewiremock) without success.
Maybe try [`inject-loader`](https://github.com/plasticine/inject-loader)

[2018-10-15 08:18] #27 closed

[2018-10-16 09:30] RasCarlito commented on #31
@microstudi I have just one issue with the `req.params instanceof URLSearchParams` condition. I think it will fail in Node.js because `URLSearchParams` does not exist.

Maybe add a `if (URLSearchParams) {}` block to make sure the condition runs in browser and Node.js 😃

[2018-10-16 11:35] microstudi commented on #31
ok, thanks! Didn't though about that! hopefully I'll send you the pull request this week!!

[2018-10-19 09:28] RasCarlito commented on #39
Yes it was missing. I think the way the memory driver integrates with `localforage` changed at some point 😅

[2018-10-19 09:30] RasCarlito commented on #17
Actually maybe just try to use [`axios-mock-adapter`](https://github.com/ctimmerm/axios-mock-adapter) instead of trying to replace complete dependencies.

[2018-11-07 19:35] camiloforero opened #53 "Support for Cache API"
https://developers.google.com/web/fundamentals/instant-and-offline/web-storage/cache-api

Knowing that an API specifically for storing web requests exists, do you see it viable to create a store that benefita from it directly instead of requiring an additional dependence to localForage?

[2018-11-07 21:30] RasCarlito commented on #53
Hi @camiloforero !

`axios-cache-adapter` was originally developed before the cache api existed and integrated into a project that already used `localforage` so it was an easy choice then.
But I do think it'd be very interesting to implement an interface for the cache api for frontend use.

I haven't thought about it that much more because I thought this library could just be replaced by a service

[2018-12-12 04:59] jahead commented on #24
Hey guys,

We have had a need to for a way to invalidate item(s).
Our use case is that we  get requests on ``` [GET] /observations?startDate=<datetime>&endDate=<dateTime>&profile=<string> ``` which we would like to cache. Where profile, startdate annd enddate may vary depending where the user is in the app.

However, when we post observations, we use ``` [POST] /observations ``` to submit observat

[2018-12-18 16:45] sunilsharma2214 opened #55 "Not getting request.fromCache property"
Below are my files...
**app.js**
import axios from 'axios'
import { setupCache } from 'axios-cache-adapter'

// Create `axios-cache-adapter` instance
const cache = setupCache({
    maxAge: 15 * 60 * 1000,
    clearOnStale: true,
    clearOnError: true,
    debug: true,
})

// Create `axios` instance passing the newly created `cache.adapter`
const api = axios.create({
    baseURL: 'https://jsonplac

[2018-12-19 10:01] RasCarlito commented on #55
Hi @sunilsharma2214 !

How do you test the fact that request response should be served from cache?
Do you reload the page in the browser completely?

If so, I can see that you haven't set up a cache `store` when initializing `axios-cache-adapter` with the `setupCache()` method, in which case it is "normal" because the default `store` keeps the cache in memory.

From the code you've posted I don't

[2018-12-19 10:05] RasCarlito commented on #24
Hi @jahead !

Thanks for sharing your solution here! I really like your approach in #54, it is simple and elegant.

I will review your pull request as soon as I can to get this integrated.

Thanks for your interest in this project! 😄

Cheers 🍻

[2018-12-19 10:09] RasCarlito commented on #39
Hi @abarke, just checking in with you if the localforage memory driver integration worked alright with you so that I can close this issue.

Thank you in advance for getting back to me 😄

[2018-12-19 10:16] RasCarlito commented on #55
I will also make this more clear in the documentation 😄

[2018-12-19 10:49] abarke commented on #39
Sorry I didn’t manage to test it. I will have a look tonight. Thanks.

From: Carl Ogren <notifications@github.com>
Sent: Mittwoch, 19. Dezember 2018 11:09
To: RasCarlito/axios-cache-adapter <axios-cache-adapter@noreply.github.com>
Cc: Alex Barker <alexander.barker@factset.com>; Mention <mention@noreply.github.com>
Subject: Re: [RasCarlito/axios-cache-adapter] memoryDriver not working (#39)

Hi @ab

[2018-12-21 02:02] jahead commented on #24
Let me know if there's anything we can do to help out

[2018-12-28 12:59] pavle-lekic-htec opened #56 "Custom caching options per request"
I created and api object, like you described in the docs, but I can only set caching for all requests done by that object. I cannot set specific caching times for different endpoints. I think that would be convenient to have. Because this way I need to create a new "api" object every time I want a different cache lengths.

[2019-01-10 15:16] bpolaszek opened #57 "Caching strategies"
Hey there,

Thanks for the good work! I needed cache management with Axios and this library does a good job.

I'm not a Javascript expert but if I may suggest some enhancements:

- Caching strategies:
    - **Native** (read `Cache-Control` and `Vary` headers) - would be the default behavior (major version bump) - because that's what we expect at first when using a cache adapter
    - **Fixed** (a

[2019-01-10 16:43] RasCarlito commented on #57
Hi @bpolaszek

Thanks a lot for your interest and feedback!

TL;DR I completely agree with all your suggestions 😄

Very interesting to use the cache headers by default and then let the developer override it with a fixed TTL.

Yes I guess it would make more sense but only if the cache invalidation is not automatic like it is now. The current default behavior was what was needed in the first app I d

[2019-01-10 16:54] bpolaszek commented on #57
Hi @RasCarlito,

Thank you for your feedback!

I use it on the client side (my stack is PHP for the back-end, VueJS for the front).

Commonly cache expirations are expressed in seconds (see [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control#Expiration)) - and I honestly don't see a use case where the cache should invalidate at a specific millisecond.

All these are big

[2019-01-10 21:38] bpolaszek commented on #57
Just looked at how the [Cache API](https://developers.google.com/web/fundamentals/instant-and-offline/web-storage/cache-api) works, it can be a good start for abstracting a _Native strategy_ + a _Browser storage_ (because it won't work in Node):

- It already parses the `Cache-Control` header
- It parses the `Vary` header
- It has an option to ignore the query string
- It has an option to ignore t

[2019-01-11 07:40] RasCarlito commented on #57
Should be nice indeed! Where did you find documentation about Cache API parsing `Cache-Control` and `Vary` headers? I can't seem to find it 😞

[2019-01-14 18:00] RasCarlito commented on #56
Hi @pavle-lekic-htec !

Actually you already can do this, maybe documentation is not at all clear about this.

You just need to pass a `cache` object to your request definition:
[code]

I just made a PR #58 adding a test making sure this works.

[2019-01-15 07:18] #39 closed

[2019-01-15 07:30] #56 closed

[2019-01-15 07:31] RasCarlito commented on #56
@pavle-lekic-htec If you have any issue please feel free to re-open this with some more detailed information.

Cheers

[2019-01-17 07:54] #20 closed

[2019-01-17 14:41] RasCarlito commented on #31
Hey everyone! So I just posted a PR fixing this bug #59

Hope it covers all use cases 😄

[2019-01-17 15:41] #31 closed

[2019-01-22 07:32] #24 closed

[2019-01-23 08:17] RasCarlito opened #60 "Automated release"
Configure some tool to handle automated releases. Will prevent from forgetting to rebuild `dist` folder or updating version in `package.json` and `bower.json`

[2019-01-28 17:31] RasCarlito opened #61 "Set cache max age according to response cache-control header"
Related to suggestions in #57

Add the possibility to use the response `cache-control` header to automatically set the max age of a resource.

Possibly use one of these parsers:
* https://github.com/tusbar/cache-control
* https://github.com/roryf/parse-cache-control

Maybe this would be deactivated by default as to not integrate a breaking change and having to bump to v3 already.
And then activate

[2019-01-29 07:37] RasCarlito commented on #61
But now I realize that I could integrate `tusbar/cache-control` as a dev dependency and always bundle it into generated `dist` files.

This may be a smarter move, this way we don't have to re-write tests for the `cache-control` specific code. Only write tests for its integration into `axios-cache-adapter`.

So this may actually be the better option.

[2019-01-29 09:55] RasCarlito commented on #61
@bpolaszek barely started working on it here: #62

If you have any suggestions please feel free to comment 😄

[2019-01-29 09:59] RasCarlito opened #63 "Implement a redis store"
Create a store that can write cache entries in redis.

Either create a `RedisStore` (similar to `MemoryStore` already provided) or just an example of how to provide a custom `store` option that will use redis.

[2019-01-30 10:40] RasCarlito commented on #61
Also added the ability to read `expires` header.

Example of creating an instance that will read headers:

[code]

[2019-01-30 17:46] RasCarlito opened #65 "Stop supporting bower"
Don't know if a lot of people are still using bower to handle their front-end packages and if any of those are using `axios-cache-adapter`.

If I want to continue supporting bower I need to find how to integrate version update in the `bower.json` file while automating releases #64

If no one is concerned about this I guess I will drop bower support in next major version (v3)

[2019-01-31 07:20] #61 closed

[2019-01-31 17:15] RasCarlito commented on #38
Ok so after more digging into this I can safely say that not all of lodash is imported by `axios-cache-adapter` 😄

Complete lodash is **68.98KB** parsed
And the parts loaded by `axios-cache-adapter` add up to **31.58KB** parsed

This is almost half of lodash when only using few methods. But these methods use a lot of other lodash methods themselves.

Will close this issue 🚀

Cheers

[2019-01-31 17:15] #38 closed

[2019-02-05 16:14] FyiurAmron opened #66 "make serializeQuery exported"
currently, default implementation of `key` uses `serializeQuery` - but for simple extension, one can either provide a simple string prefix, or provide an own function; there's no way to e.g. provide
`key: req => req.url + serializeQuery(req.params),`, as given in the docs, because `serializeQuery` is not exported from `cache` module.

exporting serializeQuery would solve this and allow e.g. `key:

[2019-02-05 23:48] jahead commented on #57
@bpolaszek

...
    * Even if `POST /foos` succeeds, it is the developer's responsibility to decide whether or not `POST /foo` should invalidate `GET /foos` (then they could also decide that `PUT /foo` both invalidates `GET /foo` and `GET /foos`, for instance). The library should not enforce that and be completely blind from non-allowed-methods calls

Has been fixed in the latest build. Allowing y

[2019-02-06 10:27] Needled opened #67 "Error on tests (jest)"
Hi,
I tried to adapt the axios-cache-adapter to an existing node project where the usage seemed relevant. I am getting however a "typeError: Cannot read property adapter of undefined" which seems to be coming directly from this repo and happens whether I use the cache adapter or not (just from importing the module) during test execution. Everything seems to be working fine during compile/build how

[2019-02-06 22:51] jahead opened #68 "By pass cache per request."
Hey,

We (our team) have a need to force refresh a request based on user input, (they pull scroll a view).

I'm purposing adding a variable to the request config.
`ignoreCache: <true|false>` or `byPassCache <true|false>` or `forceRequest: <true|false>`

I envision this working as.
1. skip getting items from the cache by pretending it was a cache miss.
2. request fresh data from the server
3. inser

[2019-02-08 11:02] RasCarlito commented on #68
Hey @jahead !

This is interesting, my only concern is that it could actually be achieved using the new `invalidate` method or even by manually removing the cache from the store with `axiosInstance.cache.removeItem('key')`.

Adding yet another option seems like a bit of a burden. 🤔

Nonetheless, I can also understand that having this easily accessible option instead of setting up a complicated `in

[2019-02-08 11:21] jahead commented on #68
So the reasoning here for not removing the cache is that we still want to use the cache for the new item for future loads. We just want to conditionally break through the cache.

We considered overriding the `invalidate` function but we weren't sure creating more dependency on the sequence of when invalidate function is run was a good thing.

Yea the number of options is quickly growing. Just a me

[2019-02-08 16:34] RasCarlito commented on #68
Ok sounds reasonable 😄

I'll see how to minimize the number of parameters in v3.

[2019-02-12 10:13] #67 closed

[2019-02-12 10:57] RasCarlito commented on #67
Hey @Needled ! Sorry for not getting back to you on this topic.

Did you manage to solve the issue?

[2019-02-12 15:17] Needled commented on #67
Hi,
Yes, this was developed by someone else so I was confused. The problem was the way jest mocks API calls. Basically, it disregards completely the module and just returns prepared data depending on the parameters specified. So the solution was to move the manual mock over the API call to the cache-adapter instead of axios [ since now you are doing api.get() instead of axios.get() ]. Didn't seem

[2019-02-12 16:36] RasCarlito commented on #67
If you have any suggestion we could incorporate into `axios-cache-adapter` don't hesitate

[2019-02-13 07:11] RayPS opened #70 "Empty params when use with paramsSerializer"
https://github.com/RasCarlito/axios-cache-adapter/blob/684139d3dc465bb5178b176a6908d50c7c907e4d/src/cache.js#L102

[code]
**Console**:
`▶︎ URLSearchParams {}`

[2019-02-13 09:46] RasCarlito commented on #70
Hey @RayPS !

Thanks for reporting this issue, will try to look into it ASAP 😃

[2019-02-13 17:42] OrenSchwartz opened #71 "documentation error"
under the customization of invalidate function, the documentation suggests the request configuration is under config.clearCacheEntry while it is under request.clearCacheEntry.

[2019-02-14 03:26] RayPS commented on #70
I have found a temporary workaround for anyone who facing the same issue.

Replace the buggy serializeQuery with QS instead.
https://www.npmjs.com/package/qs
[code]

[code]

[2019-02-14 03:28] RayPS commented on #66
Try this https://github.com/RasCarlito/axios-cache-adapter/issues/70#issuecomment-463473311

[2019-02-15 23:09] FyiurAmron commented on #66
@RayPS thanks, but I am well aware of QS parsers; still, using them is essentially importing Yet Another Node Module, which is IMVHO an overkill when I only need to supply simple default query serialization for a cache key *which is actually provided by the package I use, only not accessible from outside*...

[2019-02-20 10:13] nyssance opened #72 "CDN js not work"
Uncaught TypeError: Cannot read property 'defaults' of undefined
    at Module../src/config.js (cache.js:2261)
    at __webpack_require__ (cache.js:30)
    at Module../src/index.js (cache.js:2413)
    at __webpack_require__ (cache.js:30)
    at Object.0 (cache.js:3079)
    at __webpack_require__ (cache.js:30)
    at cache.js:94
    at cache.js:97
    at webpackUniversalModuleDefinition (cache.js:9

[2019-02-28 16:10] RasCarlito commented on #72
`axios-cache-adapter` does not bundle its dependencies, up to you to provide `lodash` and `axios` if using the CDN version.

[2019-02-28 16:10] #72 closed

[2019-02-28 16:29] RasCarlito commented on #66
Hi @FyiurAmron !

Thanks for your suggestion, just opened a PR with the change.

What do you think?

[2019-03-01 14:00] FyiurAmron commented on #66
@RasCarlito it's great - many thanks for implementing this change, mate!

[2019-03-01 14:01] FyiurAmron commented on #66
(I'm leaving this opened until the #73 is merged and available in stable channel)

[2019-03-01 22:21] JonDum commented on #70
Thanks @RayPS! Ran into this as well (we use jsurl to serialize params). Found it pretty odd that the cache key hasher would interfere with the `paramSerializer` that axios is given, but your workaround fixes it

[2019-03-02 23:40] moas opened #74 "Use it with Vue-axios"
Hello,

Please can you give me an example of vue-axios and axios!-cache-adapter integration ?!

My current implementation which not works:

`const axiosCache = setupCache({
  maxAge: 15 * 60 * 1000
})
Vue.use(VueAxios, axios)
Vue.axios.defaults.baseURL = 'hhtps://api.net'
Vue.axios.defaults.headers.common['Authorization'] = "Token xxxxx"
Vue.axios.defaults.adapter = axiosCache.adapter`

Merci

[2019-03-03 22:45] scheung38 opened #75 "cache store length returns 0?"
Why am I getting Cache store length: 0 even though I make repeated calls to the same URL endpoint?

[code]

This implies I am not using cache at all? Using axios at the moment for a redirect application, but the sluggishness is difficult to handle, and was hoping this would help but at the moment it is not improving at all? Could this be more related to how I am doing a direct? as I have a list of

[2019-03-04 08:29] RasCarlito commented on #75
Hi @scheung38 !

I see that you are making a `POST` request.

For now `axios-cache-adapter` only caches `GET` requests and it clears cache for a given url when anything but a `GET` request is made to that same url.

I am working on providing more flexible options so that other than `GET` requests can be cached but it is not yet ready sorry.

[Here you can see](https://github.com/RasCarlito/axios-c

[2019-03-04 09:20] RasCarlito commented on #74
Hi @moas !

I've never used Vue but I'll try to look into it 😄

I'll get back to you.

Cheers

[2019-03-04 09:21] RasCarlito commented on #71
Hi @OrenSchwartz !

Thanks for spotting this. I'll fix ASAP 😄

Cheers

[2019-03-04 10:46] #66 closed

[2019-03-04 11:02] #70 closed

[2019-03-04 11:07] #71 closed

[2019-03-04 12:18] #68 closed

[2019-03-05 05:48] nolde opened #78 "Uglification error after moving from 2.2.1 to 2.3.0"
My application build started failing after moving from 2.2.1 to 2.3.0:

[code]

Moving back to 2.2.1 fixes the issue. Seems related to `@tusbar/cache-control`.

Using `webpack@3.10.0` and the included uglify plugin.

[2019-03-05 08:25] RasCarlito commented on #78
Hey @nolde !

Thanks for reporting this. Will look into it ASAP.

Cheers

[2019-03-05 08:51] RasCarlito commented on #78
I don't have the issue when using `webpack@4` to build an app which is using `axios-cache-adapter@2.3.0`. Don't have time to try it out with `webpack@3` right now.

[2019-03-05 23:32] nolde commented on #78
Thanks for the quick response, @RasCarlito !

I am also having a hard time pinpointing the exact issue. I'll have to create a project to simulate only this issue.

Meanwhile, I did notice that you do not generate an ES6 module output for you library. Maybe adding that would allow for more control over the process from my side, as I would have `@tusbar/cache-control` as part of my node_modules.

I

[2019-03-06 08:38] RasCarlito commented on #78
There is probably an issue with my webpack build of the `dist` folder.

Good point about exposing an ES6 module, I'll add an issue to tackle that subject. 😄

I did not want an extra external dependency so `@tusbar/cache-control` is being bundled into the dist version on the contrary of `lodash` and `axios` which are kept external.
But maybe that is the issue and I'll just stop bundling `@tusbar/ca

[2019-03-07 05:57] nolde commented on #78
Hi @RasCarlito !

I have created a repo that can reproduce the issue: https://github.com/nolde/axios-cache-test

That said, the reason is that `class CacheControl` has not been transformed by babel. Uglify does not understand it and breaks. I would say that, given that you are already converting everything else in the package, making sure ES6 classes are converted as well seems to make sense, and

[2019-03-07 16:29] RasCarlito commented on #78
Ok! Awesome thanks.

So it does not fail for me because I don't have Uglify configured in my test and I run the code in latest chrome so classes are supported.

Cheers

[2019-03-08 13:23] nickverstocken commented on #78
@nolde have you found a workaround for this? Having the same issue but haven't found a way to solve it...

[2019-03-08 23:25] nolde commented on #78
Hi @nickverstocken!

I tried to make babel parse it in my side, but I have been unable to do it reliably. Didn't try too hard, though. :-)

My workaround is to move back to version 2.2.1, which does not have the same problem. If you do not have a hard dependency on any new features, I would recommend this option until @RasCarlito fixes the transpilation issue on his side.

[2019-03-09 15:49] nickverstocken commented on #78
@nolde  Yeah I did the same the only downside now is that in my webapp I can't use the `ignoreCache` option anymore. I hope this get fixed soon or I will take a look to create PR on my own 😉 Thanks anyway for thde reply!

[2019-03-11 13:07] RasCarlito commented on #78
Tried to fix this in #79 but no luck so far 😢

[2019-03-13 12:15] sloba88 commented on #74
Here is how to use it with Vue:
[code]

[2019-03-13 12:24] ollasm commented on #74
What 's the difference  between your code and my example paste in first issue message ?

[2019-03-13 12:33] sloba88 commented on #74
That's a good point, I didn't notice that it's the same.

But it does work for me, I checked again and it's caching.

Is it throwing any errors or it just doesn't work?
Are you then using axios for get requests like this ```this.axios.get()``` ?

[2019-03-15 10:13] RasCarlito commented on #74
Thanks @sloba88 for helping out. As said earlier I've never used Vue but it seems to me that overriding the axios default adapter works but is not the best practice.

I would see it more like this:
[code]

This should be equivalent to your example but does not modify the base axios instance.

Anyway, this is not helping as to knowing why it does not work for @moas 😅

[2019-03-16 08:54] moas commented on #74
Hi
My request code snippet
[code]
Error logged in console:
[code]

[2019-03-21 04:25] nolde commented on #78
Could you test my change to verify whether it works, @RasCarlito ? I could not build it in Windows.

[2019-03-21 09:25] RasCarlito commented on #78
Awesome! Will try it out ASAP ;)

[2019-03-21 16:10] RasCarlito commented on #74
Hey @moas I think I understand why your request snippet does not work.

The `axios.all()` method only exists on the core axios object.

See this REPL test I did
[code]

So if you use the `axios-cache-adapter` `setup()` method like I suggested (which uses `axios.create()`) you won't have access to the `axios.all()` method.

If that is the only issue you have then you should consider using `Promise.

[2019-03-24 23:51] nolde commented on #78
Hello @RasCarlito !

Just FYI, I just tried to build it using a Linux image through docker. I thought the problem was Windows, but since I got the _exact same error_, I would say that there is something wrong in your setup, but for some reason your current environment is masking it.

Maybe your using some tool installed globally?

The error is the following:
[code]

[2019-03-26 06:09] RayPS opened #81 "Clear all cache manually"
I created an instance with cache adapter
[code]
I want to clear all cache after user being logged in.

I tried `cache.store.store.clear()` but seems it does nothing.

[2019-03-26 20:58] #81 closed

[2019-04-03 03:10] armond1978 opened #82 "Caching binary contents? Possible?"
I'm using v2.3.0 and with the following config block (as a global setup for my Axios instance):
`const cache = setupCache({
  readHeaders: true
});`

I have some APIs which return binary data (image) and they have cache headers (max-age) set on their responses, but for some reason axios-cache-adapter does not cache them. I've already verified this unintended behavior using the debug option in the

[2019-04-11 23:59] nolde commented on #78
@RasCarlito , did you ever get around testing my thing?

[2019-04-16 12:15] miluoshi commented on #78
Shouldn't the bundled version in `dist` folder be completely transpiled to ES5? Now it contains untranspiled `class CacheControl` which breaks IE11 with syntax error.

[2019-04-25 10:07] RasCarlito commented on #78
Hey @nolde just left you a comment on #80 😄

[2019-04-25 10:11] tejovanthWork opened #85 "Typescript Support"
Is there any support for typescript?
Even [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) doesn't yield anything in this direction.

[2019-04-25 10:31] bpolaszek opened #86 "Response shouldn't be cached when readHeaders is true and Cache-control is private, must-revalidate"
Hello,

I'm facing the following issue: when using localforage (the issue might occur on other drivers but I didn't test), `expires` is set to `undefined` when the following scenario occurs:

- `readHeaders` is set to `true`,
- the response says `Cache-control: private, must-revalidate`.

Then, the response is cached without expiration date, although it shouldn't be cached at all.

Thank you,
Ben

[2019-04-25 12:39] RasCarlito commented on #86
Thanks for reporting this @bpolaszek !

[2019-04-25 12:46] RasCarlito commented on #85
Hi @tejovanthWork !

No specific support for typescript sorry. I'm not much of a fan of typescript.

But if you'd like to contribute something to make `axios-cache-adapter` more compatible with typescript I'd be glad to help and review your PR.

Cheers 🍻

[2019-04-25 12:53] RasCarlito commented on #82
Hi @armond1978 !

Sorry caching binaries is disabled directly in code for now as you can see here: https://github.com/RasCarlito/axios-cache-adapter/blob/master/src/response.js#L9

This was done because when this library was first created the only reliable store was `localStorage` which is quite limited in space.

I've never had any use to caching binaries that were fetched with axios in my projec

[2019-04-29 05:41] nolde commented on #78
Hi @RasCarlito !

Awesome! Just left you a message on #80 as well!

[2019-04-29 13:02] RasCarlito commented on #86
@bpolaszek Actually after reading [a bit on stackoverflow](https://stackoverflow.com/questions/18148884/difference-between-no-cache-and-must-revalidate) it seems that `must-revalidate` should still be cached using the given expiration date but the subsequent request should forcibly hit the network.

The fact that, for now, it is cached without any expiration date is probably a bug.
I'd fix this by

[2019-04-29 15:08] bpolaszek commented on #86
Hi @RasCarlito, thank you for investigating on this.

AFAIK the `private` directive is mostly used to tell CDNs and proxies they should not cache the response. In the case of Axios, since it may actually be used for this purpose (in a NodeJS app acting like a proxy, for instance), it should be taken into account. In a perfect world, this could be set by the developer. By default, I think we should

[2019-05-01 03:12] armond1978 commented on #82
Thanks for your positive response. Yes, it could be as simple as removing that condition.

If you can publish an alpha/beta version, I will test it in my app and will let you know if it does the job. Is there any timeline for v3.0.0?

[2019-05-01 03:53] nolde commented on #78
Thanks for your help, @RasCarlito !

[2019-05-12 18:42] crutch12 opened #88 "Config Property: Disable cache"
Let don't use cache at all if config has special property.

For example:
`{
  disable: true, // or function, which has access to config and request
}`

Reason:

I use Vuex + ssr, so all requests from ssr write in store and whole this data comes back on the front. I don't need the most of this data in store, I need only a part.
So I want to set `disable: true` for all request and in some places wri

[2019-05-13 12:41] crutch12 commented on #88
Okay, I did it using `exclude.filter => true`, and set per request `exclude.filter => false`, but it was hard :)

exclude.filter doesn't have access to cache config, so it won't work in every case

[2019-05-14 07:31] tangxiaolang101 opened #89 "ES6 babel array func，cause of "@tusbar/cache-control": "0.3.1","
`/*!*****************************************************!*\
  !*** ./node_modules/@tusbar/cache-control/index.js ***!
  \*****************************************************/
/*! no static exports found */function(e,t){const r=/([a-zA-Z][a-zA-Z_-]*)\s*(?:=(?:"([^"]*)"|([^ \t",;]*)))?/g,n={maxAge:"max-age",sharedMaxAge:"s-maxage",maxStale:"max-stale",minFresh:"min-fresh",immutable:"immutable",mus

[2019-05-15 22:21] mayteio commented on #53
+1. I am about to write this functionality so will post the code I end up with.

[2019-05-16 01:22] mayteio commented on #53
Hopefully, someone can use this as a starter:

[code]

signature: `loadCachedDatasets({datasets: ["mydata.json", "my_second_data.json"]})`

[2019-05-16 17:23] immortal1070 commented on #89
Hi! Possibly https://github.com/RasCarlito/axios-cache-adapter/pull/90 will solve the issue

[2019-05-20 02:33] nolde commented on #78
Hi @RasCarlito !

Sorry to be obnoxious, but do you have any idea on when you'll be able to release 2.3.1 with this fix in it?

[2019-05-20 06:14] RasCarlito commented on #78
Hi @nolde ! No worries sorry it takes so long.

I was about to release it but when trying out the build one last time it did not work. The `cache-control` code was left as a `class` in the dist version 😢

So I started working on another solution here #91 but it lead me to an issue when transpiling the `cache-control` code which uses `module.exports` while the rest of my code base uses `export defa

[2019-05-21 07:31] RasCarlito commented on #78
Should now be fixed with #91 will at last make the 2.3.1 release 🎉

[2019-05-21 07:31] #78 closed

[2019-05-21 08:05] RasCarlito commented on #89
Hi @tangxiaolang101 !

Thanks for reporting this. Maybe it is fixed with the latest release [2.3.1](https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.3.1).

Could you check and tell me?

Cheers 🍻

[2019-05-21 08:20] RasCarlito commented on #78
Released >> [2.3.1](https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.3.1)

@nolde Could you confirm it fixes your initial issue?

Cheers 🍻

[2019-05-21 16:51] charjac commented on #85
the .d.ts file seem to be missing in the installation folder under node_modules.
but the line in the package.json file is here:

"types": "axios-cache-adapter.d.ts",

[2019-05-21 19:16] gautamkrishnar opened #92 "Unable to cache post requests with paramerters"
I have a POST API That returns values on submission of some values as POST params, i was not able to implement caching to this API even if i had used the custom invalidate function. Please find the code below:
[code]
GET Requests is working fine...

[2019-05-21 20:33] RasCarlito commented on #92
Hi @gautamkrishnar for now it impossible to cache POST requests, they are blocked directly in the code, sorry.

It will come in the v3 but I have no ETA to give yet.

Cheers :beers:

[2019-05-21 21:44] RasCarlito commented on #88
Hi @crutch12 !

Sorry the `exclude.filter` documentation is not very clear. You could filter out those SSR requests through different means.

[code]

I am working to maybe make it simpler in the v3. Maybe just a middleware list which each receive the cache config and the axios request.

If you have any suggestions it'd be awesome :rocket:

Cheers :beers:

[2019-05-22 06:39] #88 closed

[2019-05-23 05:35] tejovanthWork commented on #85
Thanks @charjac :)
I'll close this now.

[2019-05-23 05:35] #85 closed

[2019-05-23 07:35] RasCarlito commented on #85
Released as version [2.3.2](https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.3.2) 🚀

[2019-05-24 21:43] RasCarlito opened #95 "Re-write docs for v3"
A lot of modifications will come with new v3

- [ ] Adapt readme to all modifications
- [ ] Create a nice docs page using https://docsify.js.org/#/

[2019-05-27 01:54] nolde commented on #78
Issue solved, just tested using [v2.3.2](https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.3.2)!

Thanks @RasCarlito !

[2019-05-27 12:45] rogiia opened #96 "Faulty d.ts in version 2.3.2"
Since I updated axios-cache-adapter to last version 2.3.2, whenever I build my project with `tsc` the following error pops up:

`node_modules/axios-cache-adapter/axios-cache-adapter.d.ts:104:2 - error TS7008: Member 'store' implicitly has an 'any' type.`

`104  store;`
`    ~~~~~`

`Found 1 error.`

Looking at the d.ts file, the interface ISetupCache is indeed missing a type for the store property

[2019-05-28 07:03] RasCarlito commented on #96
Hey @rogiia !

Thanks for reporting this. I don't know much about typescript.

The `store` could be an instance of `localforage` which has [its own typings](https://github.com/localForage/localForage/blob/master/typings/localforage.d.ts) but it could also be an instance of internal [`MemoryStore` class](https://github.com/RasCarlito/axios-cache-adapter/blob/master/src/memory.js).

I don't know if

[2019-05-28 07:14] rogiia commented on #96
Is the `store` property expected to only contain `LocalForage` instances? If that is right, then yes, `store: LocalForage` ought to do it. On the other hand, if this property is expected to also accept other types of instances, then we will need to find out which ones.

[2019-05-29 09:53] klh opened #97 "serve cache -> update cache in background"
for certain long running endpoints it would be beneficial to have a serve first strategy.
so on first request->respond with whatever is in cache, update cache in background and prime for next request.

so a
client: http.get('my/url')
server:->returnFromCache('my/url') -> client:....
server: ->bustCacheAndReSeedFrom('my/url')

[2019-05-31 12:07] atombrenner commented on #96
I have a similiar issue:
```node_modules/axios-cache-adapter/axios-cache-adapter.d.ts(104,2): error TS7008: Member 'store' implicitly has an 'any' type.```

Setting store to explicitly having the `any` type would fix this:
[code]

[2019-05-31 13:19] rogiia commented on #96
The use of `any` in Typescript in highly unrecommended. If the type can be any type that the user desires, I would use generics.

The interfaces would be declared like that:
[code]

[code]
and finally the setupCache method would be:
`export declare function setupCache<T = MemoryStorage>(options: IAxiosCacheAdapterOptions<T>) : ISetupCache<T>;`

I have not tested this code but I feel like it should

[2019-06-05 16:31] mohamedgomran commented on #63
@RasCarlito I can work on this with my colleague, Do we have to wait for V3 or just start now?

[2019-06-07 08:01] RasCarlito commented on #63
Hey @mohamedgomran !

Sorry for not getting back to you earlier. No need to wait for V3, I have no plan to change the `store` mechanism for now.

If you need any help I'll do my best answering any of your questions 😃

Cheers 🍻

[2019-06-07 14:18] RasCarlito commented on #97
Hey @klh !

This would be an awesome behavior to add to the lib.
Will add it to v3 milestone and try working on it soon.

Thanks for posting the issue 😃

Cheers 🍻

[2019-06-12 07:21] RasCarlito commented on #89
Will close as for me this should be fixed. Feel free to re-open if that is not the case.

Cheers

[2019-06-12 07:21] #89 closed

[2019-06-12 12:08] mohamedgomran opened #99 "Config override per request doesn't work"
Axios allow only some keys to be passed in request config check them here https://github.com/axios/axios/blob/master/lib/core/mergeConfig.js

Unfortunately `cashe` is not one of these keys, so the function `mergeRequestConfig` receive `req` parameter without `cache` object and the default cache config isn't overridden.

[2019-06-12 13:07] RasCarlito commented on #99
Oh damn, I think this was not the case before as I know the per request cache config worked.

[2019-06-12 13:42] mohamedgomran commented on #99
This is due to the axios last update v0.19, they released it a couple of weeks ago.

[2019-06-16 11:40] mohamedgomran commented on #99
It's going to be solved in this PR https://github.com/axios/axios/issues/2203

[2019-06-21 05:16] #96 closed

[2019-06-21 05:17] RasCarlito commented on #96
Fixed in [v2.3.3](https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.3.3)

[2019-07-07 22:14] DrLongGhost opened #104 "Headers or URL Params Break Caching?"
I can't get caching to work and the only thing I can think of is that the headers or URL parameters are somehow preventing this from working. I imagine this is probably user error of some sort, but I can't see what I'm doing wrong. Any help would be appreciated.

I'm using the latest version (2.3.3) from npm and here is my code:

[code]

I've tried it with and without the readHeaders/ignoreCache a

[2019-07-14 13:44] DrLongGhost commented on #104
I ended up using this cache adapter instead (https://github.com/kuitos/axios-extensions) and it worked right away. I'm pretty sure there is either a bug here or maybe I was doing something wrong with the setup. But if anyone has a similar issue, at least you can try the other project, which worked for me without any issues.

[2019-07-15 09:07] RasCarlito commented on #104
Hey @DrLongGhost !

Sorry it took me so long to get back to you. Glad you found another solution that is working for you.

Just in any case someone has this issue, for now, by default `axios-cache-adapter` does not cache requests with query parameters. You can enable query parameter caching using `exclude.query = false` option.

[code]

This will change in v3.

Sorry for this not being very clear

[2019-07-15 09:16] RasCarlito commented on #104
Will close issue for now. If you have any extra feedback do give please do 🚀

[2019-07-15 09:16] #104 closed

[2019-07-15 09:22] RasCarlito commented on #74
Closing this. Feel free to re-open if needed.

[2019-07-15 09:22] #74 closed

[2019-07-15 09:23] RasCarlito commented on #75
Closing this. Caching `post` requests will be available in v3. Feel free to re-open if needed.

[2019-07-15 09:23] #75 closed

[2019-07-17 20:41] purplekrayons opened #105 "localforage as cache"
Referring to your [documentation here](https://github.com/RasCarlito/axios-cache-adapter#use-localforage-as-cache-store), why do you instantiate an instance of localforage every time you make an API call? Is there a reason for that?

Perhaps I am misunderstanding, but wouldn't it be better to create an instance of localforage once? As an example:

[code]

[2019-07-18 07:38] pawelotto commented on #92
It should be mentioned in the docs. I've just wasted two hours figuring this out and tweaking _invalidate_ function.
Can you point out where it's handled in the code? I'll make a fork for myself.

[2019-07-18 08:20] bpolaszek commented on #92
@pawelotto POST requests are not intended to be cached, since their primary purpose is to create resources. Same with PUT, PATCH, DELETE, etc. ElasticSearch uses this method to avoid complex query strings (like Solr does).

Even if v3 will allow caching POST requests, there's no caching implementation that I know which will take the request body into account for generating the unique cache key. @R

[2019-07-18 09:42] RasCarlito commented on #92
No plan to serialize request body into cache key for now, but it seems quite absurd to not implement it 😄

@pawelotto Yes the fact that none GET requests were not cached should have been mentioned in docs more clearly, sorry about that.

[2019-07-18 09:48] RasCarlito commented on #105
Hi @purplekrayons !

The `configure()` method in the example is only intended to be executed once, sorry that was not very clear. I wanted the examples to be copy/paste.able but you're right it is not very clear.

In the actual apps I usually have an `utils/api.js` file which does the cache setup and exports the instance as a singleton so whenever I `require('utils/api')` I get the same instance.

[2019-07-19 01:50] purplekrayons commented on #105
Thanks for the clarification!

[2019-07-19 01:50] #105 closed

[2019-07-29 01:36] AndrewCraswell commented on #92
Just so I'm clear, are you saying that the body is not taken into account for all methods, or just POST, PUT, PATCH, DELETE? :O

[2019-07-29 09:23] oyvindym opened #107 "Upgrade to axios 0.18.1 to resolve security issue"
See https://github.com/axios/axios/releases/tag/v0.18.1 for more details

[2019-08-08 18:11] RasCarlito commented on #107
Thanks for the report, in v3 beta version I set the axios version to 0.18.1 exactly so it would not install the 0.19.x version which breaks some functionality.
I'll do the same to fix this as you've suggested.

[2019-08-08 18:18] #63 closed

[2019-08-08 18:24] #107 closed

[2019-08-08 19:02] RasCarlito commented on #92
Hey @AndrewCraswell

As @bpolaszek said, the request body is not taken into account for any method to generate the unique cache key.

Now that I think of it I don't think it's a great idea, serializing the body of the request could generate too long keys. Maybe just using the request method as part of the cache key to have different cache for a same URL called with different HTTP methods would do

[2019-08-09 11:30] Ragyal commented on #63
@mohamedgomran I think there are missing exported type definitions.

When using Typescript I can not import RedisStore:
`.../node_modules/axios-cache-adapter/axios-cache-adapter"' has no exported member 'RedisStore'. ts(2305)`

Would be nice if that could be fixed.

[2019-08-09 20:33] mohamedgomran commented on #63
@Ragyal It's exportes the same way `setupCache`, Please note that `RedisStore` only available in server-side. If you are facing this issue in server-side please share an example to reproduce it with `ts`.

[2019-08-09 20:56] Ragyal commented on #63
@mohamedgomran Here is an NodeJS exmaple in TS:
[code]

[2019-08-10 18:53] RasCarlito commented on #63
Hey @Ragyal! Thanks for reporting this.

We should open it as a new issue, maybe you'd also be willing to submit a PR with your solution which will do for now IMO 😄

[2019-08-11 22:13] Ragyal opened #110 "Add type definition for RedisStore"
@RasCarlito As mentioned in #63 type definitions for the newly implemented RedisStore are necessary in order to work properly in TypeScript. Otherwise following example would throw an error on the import statement.

[code]

Error:
`.../node_modules/axios-cache-adapter/axios-cache-adapter"' has no exported member 'RedisStore'. `

A quick fix would be to add the following line to `axios-cache-adapte

[2019-08-13 06:57] AndrewCraswell opened #112 "List Axios as PeerDependency"
I recently started using this library and it's been great so far. The only downside is that I just realized our app has blown past our performance budgets in bundle size after including `axios-cache-adapter`. After some investigation, I realized that:

(a) 30kb+ is being imported from `lodash` which seemed like a lot, but after investigation and seeing issue #38 that seems to be correct, although

[2019-08-13 07:44] AndrewCraswell commented on #92
If I'm understanding right, this seems like a critical missing piece. Having used other cache systems over the years, I think this is necessary. Consider the following valid requests:

GET /api/users { ids: [10, 13, 2, 8]  }
GET /api/users { ids: [54, 89]  }

In this case, the second request for user's 54 and 89 would return the cached results of the previous call.

[2019-08-13 09:43] RasCarlito commented on #92
Ok I get your point 😄

Just one thing bothered me, even though GET requests with a body are valid HTTP they are not recommended at all [as is better explained here](https://stackoverflow.com/questions/978061/http-get-with-request-body).

For other request methods I understand that it should be done and could be applied to GET requests as well even though it should not be used 😄

Will look into it

[2019-08-13 10:16] RasCarlito commented on #110
Fixed in #111

[2019-08-13 10:16] #110 closed

[2019-08-22 15:27] Ragyal opened #113 "Cache-Control header is read case-sensitively"
@RasCarlito I just stumbled across the Cache-Control header being read case-**sensitively**. So if this package would receive anything but "cache-control" for example "Cache-Control", the response is cached by default. This might also have something to do with issue #86.

Following RFC 2616 ([link](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2)):

Responsible line is here:
https://

[2019-08-23 08:56] RasCarlito commented on #113
Will look into it quickly! Cheers

[2019-09-03 18:12] AndrewCraswell commented on #112
@RasCarlito I've submitted a PR for you to look at. Do you think that will work? I wasn't able to run a build as the commands look to not work on Windows systems. The temporary workaround we're using is to install the specific version of Axios in our app as exists in the cache adapter. This should cause Webpack to only bundle once, but it forces us to downgrade to an older version.

[2019-09-06 18:57] GMaiolo commented on #99
Any news on this?

[2019-09-08 22:46] AndrewCraswell commented on #99
This is being tracked in the https://github.com/axios/axios/pull/2207 PR now. They merged the changes this week but haven't released due to some test failures.

[2019-09-26 03:14] Zyles opened #117 "Does not work"
I just can't get this to work. I even downgraded axios.

[code]

apiclient.js:
[code]

apicalls.js:
[code]

There is no `response.request.fromCache` ... ever.

What did I miss?

[2019-09-26 16:42] JohnChangUK commented on #92
Hi there, just been playing around with @pawelotto fork of this. Currently the POST Request is being cached and is visible in the Api Memory Store. However, the consecutive POST requests still continue to make the request whilst not retrieving the data from the cache.

Is there a reason why this is? It works fine for the GET requests.

[2019-10-03 19:22] fedebabrauskas commented on #117
Same problem here, I can't get this to work.

My setup is the following:

[code]

After doing a request, `response.request.fromCache` comes undefined.

[2019-10-20 11:10] mohamedgomran commented on #92
@RasCarlito  Hello Ras, I can make this available in v2 until you release v3. I'm thinking of hashing the request body and concat it to URL and serialized query params.

[2019-10-20 16:03] mohamedgomran commented on #92
@RasCarlito I implemented it, I can open a PR.

[2019-10-21 20:25] timbogatchev commented on #117
Similar issue here...

[code]
The only requests I can get to actually cache are `GETs`.
None of the posts ever seem to work...
[code]

[2019-10-29 11:18] woltsu commented on #117
Same issue here

[2019-10-29 17:41] sebagiamba commented on #117
Same problem, can't get it to work. I followed the example but response.request.fromCache is always undefined..

[2019-11-05 16:16] AndrewCraswell commented on #112
Btw I posted a $50 bounty for anyone who can get the PR #115 beyond a WIP state with checks passing so it can be merged.
https://www.bountysource.com/issues/78659314-list-axios-as-peerdependency

[2019-11-12 15:43] RasCarlito commented on #92
@mohamedgomran At first I did not want to release this in thee v2 version range as this seemed to be a breaking change. But as long as the default behavior stays the same I have no issue with being able to cache post requests using v2.

If you have a PR I'll gladly merge/release it

[2019-11-16 09:19] #112 closed

[2019-11-18 13:34] spidgorny commented on #117
I've enabled the debug mode with:
[code]
And noticed the ```[axios-cache-adapter] Excluding request by query api/asd``` in the logs.

Then I added
[code]
And now it works for GET requests WITH query parameters.

BTW, IMHO, it's not supposed to work with POST/PATCH/DELETE requests as they are not idempotent.

[2019-11-18 17:11] Zyles commented on #117
I use get requests (see first issue) and it does not work.

[2019-11-26 00:17] zefexdeveloper opened #136 "Exclude key when expired"
Is it possible to exclude keys when expired?

[2019-11-26 01:39] ktalebian opened #137 "Will this work with a backend service?"
Does this cache adapter work for a NodeJS server? Or is it intended to be used only for front-end usage?

[2019-11-26 01:41] ktalebian opened #138 "Making the cache optional (i.e. by default no cache)"
Is it possible to provide a cache-adapter, but make the requests non-cachable unless you choose to?

So in effect I want

[code]

[2019-11-27 08:13] AndrewCraswell commented on #138
Yes, this is possible. Check how to pass custom settings to each request here:
https://github.com/RasCarlito/axios-cache-adapter#per-request-options

The available options you can pass are documented here:
https://github.com/RasCarlito/axios-cache-adapter#options

Your example is almost working, except you should use the `ignoreCache` option:

[code]

[2019-11-27 08:36] ktalebian commented on #138
@AndrewCraswell but that's the opposite I want; in your example, caching is enabled by default, and you can choose to ignore it per request. I want the exact opposite. Caching is _disabled_ by default, and you can choose to enable it per request.

I'm going to be adding this to an existing project, and I don't want all GET requests to suddenly be cached without us deliberately wanting them to be c

[2019-11-27 08:49] AndrewCraswell commented on #138
So when you execute `setupCache` shouldn't you set `maxAge` to `0` to effectively disable, then override it when you make requests?

[2019-11-27 08:52] AndrewCraswell commented on #137
It does, I actually just did this last week to cache requests executed in an Express API :)

[2019-11-27 14:19] PacificAirways commented on #117
The response by @spidgorny solved my issue. This needs documenting.

[2019-12-02 10:52] andruu commented on #117
Having the same issue on my end.

[2019-12-02 18:30] erikagiroux opened #142 ""Invalid calling object" error in IE11"
Calls to `isFunction` cause an error on IE11 since the last version.

When lodash functions were transferred to utilities.js, this line was missing from getTag (see https://github.com/lodash/lodash/blob/master/.internal/getTag.js):
[code]

Because of this, `toString` ends up referring to `window.toString` instead of `Object.prototype.toString`.

There could be 3 easy ways to fix this:

1. Add `con

[2019-12-04 21:33] AndrewCraswell commented on #142
I just ran into this today. I think option #1 seems like a solid solution.

[2019-12-04 22:01] AndrewCraswell commented on #142
This seems like an easy change to make, @erikagiroux would you be willing to submit a PR? I would do it but am limited on time, but I'd be happy to put a $25 bounty on the issue if you have some free time. This is a blocking issue for my team at the moment

[2019-12-04 23:44] erikagiroux commented on #142
@AndrewCraswell Sure. I'll do it tomorrow. Let's just hope the PR is processed quickly.

In the meantime, maybe you could consider using version 2.4.1. This issue only happens since v2.5.0.

[2019-12-05 19:01] ilyaskorik commented on #99
Is this actual ?

[2019-12-06 03:53] hongyiweiwu opened #144 "Support other types of Redis client."
Currently the out-of-the-box RedisStore only supports RedisClient from the node-redis package. This involves a compulsory client.prototype.constructor.name == 'RedisClient' check in the constructor of the store. It would be nice if other types of Redis client, like IORedis, can be supported somehow. This shouldn't be very hard since both have similar apis.

[2020-01-03 17:05] #136 closed

[2020-01-10 15:24] cogell commented on #117
@spidgorny Thank you! For others, as spidgorny said, GET requests with PARAMS will NOT cache with the default settings. See his comment for how to turn this on.

[2020-01-10 15:29] Zyles commented on #117
Did you even read my code?

[2020-01-10 15:37] cogell commented on #117
@Zyles sorry, can you put your example in a codesandbox? I'd poke around at it.

at a glance, I wonder if `exclude: { query: false }` works as a request pass thru config. it is the only thing that looks different from my code at the moment.

[2020-01-12 04:53] adamreisnz commented on #55
I am running into the same issue.

I can confirm that the requests are being cached, I am using `lru-cache` and I can see the requests in there, and the server is not being hit for subsequent requests.

However, logging the full response object, it does not contain a `fromCache` flag on the `request` object:

![image](https://user-images.githubusercontent.com/490562/72214315-5064b380-3564-11ea-8f7

[2020-01-13 13:04] Zyles commented on #117
I can't really since it is part of a larger app and I would have to deconstruct the entire thing.

The essence of the code is posted here. So the question is if you can exclude query params only on a global scope.

[2020-01-14 13:58] aubcel commented on #117
@Zyles  how are you trying to test, if it is working for your case?
I made the mistake by having like an `example.js` where I made just one request. I run the file by `node example.js` in my console and was wondering why it never got cashed and I got `response.request.fromCache === undefined`.
I changed the file to look more like that:
[code]

My mistake for sure was super dumb, but maybe you have

[2020-01-19 06:48] yaelz opened #153 "Does this cache work in a node server? (following #137)"
Following this question, I'm calling an external API from my app and it doesn't seem to work.
1. Am I doing anything wrong?
2. How can I tell if this is working? How many calls are actually going out and how many are read from the cache? Seems to me, from looking around, that I can print the number of calls only if I use localforage as cache.
[code]

Thank you!

[2020-01-24 18:29] ruzz311 opened #155 "Note about version incompatibility with certain Axios version in README"
Is the note at the top of the readme about version locking still a thing?  Axios fixed the issue in 0.19.1 and Nestjs just updated their axios reference to 0.19.2.

_Edit: Well, Just noticed that's the per-request override.  I haven't been tracking that one as much but it would still be nice to get some bump sometime soon for the nestjs users_

[2020-01-25 15:05] sramam commented on #99
seems v0.19.2 fixes this: https://github.com/axios/axios/compare/v0.19.1...v0.19.2
Any chance of a new release for axios-cache-adapter?

[2020-02-04 15:35] gibletto commented on #86
It's undefined if cache control does not return a max age, should probably ignore the header and go to default in that case.

[2020-02-04 17:50] younes0 commented on #117
so ? any news ?

[2020-02-04 19:37] younes0 commented on #117
after a request, the lib updates axios instance (axios.config.cache.store) and this instance is not necessarly the one that you call elsewhere in your app. So I've made this store which either stores in a window variable or in localStorage

[code]

[2020-02-10 11:01] gibletto commented on #153
set ``debug:true`` in setupCache.

[2020-02-15 21:07] ErikGMatos commented on #138
@ktalebian
Did you find any solution for that? I also don't want to handle all my GET requests on localstorage, just a few specific ones.

[2020-02-17 11:21] ErikGMatos commented on #138
Sorted out.
The solution is to use the filter method of the library itself so that you can choose which endpoint will be cached.

[2020-02-27 16:30] mohamedgomran commented on #153
Which axios version you are using?

[2020-02-27 16:31] mohamedgomran commented on #137
Yes it works, and if you multi instance service you can use it with Redis

[2020-03-24 16:11] betopompolo opened #167 "Cache-miss"
Hi there! I'm trying to use this lib in a Nodejs server. Here is my config:
[code]

With this configuration, I'm getting ```ts result?.request?.fromCache``` undefined. Also, I'm getting `[axios-cache-adapter] cache-miss <myUrl>`. The request is GET, btw.
What I'm doing wrong here? 🤔

[2020-03-29 06:58] ttkien opened #168 "Cache forever, If the header of server response has no `cache-control`"
If the header of server response has no `cache-control` field, the response will be cached forever. Because the `expires` field will be undefined.

My suggestion is should treat the cases as maxAge:0 (no-cache)

axios-cache-adapter version: 2.5.0

[2020-04-02 22:47] occasl commented on #92
Any movement on this one? I'm noticing that the adapter won't cache the following `http://solr-server.co.com:8983/solr/people/select?q=firstname:Fred*&rows=200&start=0&wt=json&json.nl=arrarr`

Is it because of the query params?

[2020-04-03 00:00] occasl commented on #117
I also have the same issue using a local Redis cache with `axios@0.18.1`.  I even tried @spidgorny recommendations to no avail. What am I missing?

[code]

[2020-04-09 09:16] haswent opened #170 "Clear all cache?"
Is there a way to invalidate all entries from the cache?

I want to implement an API call from an external system that will invalidate all cache entries so that the next request will make an API call to get new data across all URL's?

[2020-04-14 16:48] romanlex commented on #138
please make mode with disabled cache by default(
Example I want make request with cache when:
`api.get('...', { withCache: true })`

[2020-04-16 15:10] malydok commented on #170
I wanted to do the same thing to remove all cache after a user logs out and logs in to another account in the same session.

I created the api using `setup` from the library, and when needed simply removed the store, which is a basic object.

[code]

This assumes you're using the in-memory cache strategy.

[2020-04-17 16:04] haswent commented on #170
Thanks @malydok - don't know why I didn't think of simply setting the cache-store to an empty object

[2020-04-17 16:04] #170 closed

[2020-04-24 05:51] igorsantos07 commented on #137
@ktalebian could just read the.... _readme_ instead of polluting the issue board :)

[2020-04-24 05:55] igorsantos07 opened #174 "Any plans on ETag support?"
I'm looking for a simple way to support caching my own API's requests, but it seems Axios doesn't care to implement the full HTTP layer including caching.

Then, I found this lonely library, but it seems there's no support for all the caching headers - namely, I didn't find ETag mentions in the documentation. I wonder if there's anything hidden, or plans to support optimistic caching? I mean, re-d

[2020-04-24 17:16] ktalebian commented on #137
This has been addressed, thanks for the useful information everyone.

[2020-04-24 17:16] #137 closed

[2020-04-24 20:26] jokanane opened #175 "POST request with form data"
I have a WordPress install, in which front end filters are implemented with POST requests with form data.

As a user may click the same filters repeatedly, I've tried to cache the responses, but `cache.store.length()` always returns `0` and `response.request.excludedFromCache` is `true`.

I've tried various things with `key` and `invalidate` but have had no success.

Is there a way to make this wo

[2020-05-05 08:22] ChoOo7 commented on #142
Hello
Any upate on this case ?
Thanks

[2020-05-12 16:32] DonovanCharpin commented on #170
Hi @malydok, do you re-create another setup where you logout to clear the cache or do you re-use the same instance of your setup?

[2020-05-12 17:02] malydok commented on #170
@DonovanCharpin only dropping the `cache.store` object, the instance is not touched.

[2020-05-14 07:39] madisvain commented on #142
Thank you for this library - I'd be also interested about this update.

[2020-05-18 00:55] sgarciac opened #183 "Type for 'limit' in adapter options is wrong"
Hello, in the type definitions file:

https://github.com/RasCarlito/axios-cache-adapter/blob/master/axios-cache-adapter.d.ts#L37

limit is defined as boolean, but it should be false | number

[2020-05-23 12:32] ahartschen commented on #175
I spent a lot of time with a similar issue. The latest released version, 2.5.0, only support caching `get` requests. See [here](https://github.com/RasCarlito/axios-cache-adapter/blob/b49888c98c32df7a17ba388bab84ae5d68407d21/src/request.js#L19). If your method is not `get` it is automatically excluded from caching. It seems that in the 3.0.0 beta version support for caching `post` (and other method

[2020-05-23 12:35] ahartschen opened #185 "Release 3.0.0"
There has not been a new release in quite some time. The last was 2.5.0 in November, since then there has been some major new features added, such as caching requests that aren't `get` requests. Can 3.0.0 be released to get the latest features out?

[2020-05-25 09:57] jokanane commented on #175
Thanks for your response @ahartschen . I had read about that exact thing, but failed to realise v3 is still in beta.

It will take a little while until I can return to this task. In the meantime, any thoughts of 3.0.0-beta.0 are most welcome.

[2020-05-26 21:33] ktalebian commented on #138
@AndrewCraswell that would work, but that now means I need to set the maxAge in each endpoint that I want cached. Would be nice if a `withCache` option was available where you just enable the cache per endpoint and let the global cache setting be applied.

[2020-05-29 12:17] DmitriyNikolenko commented on #168
Same problem. cache age becomes uncontrolled

[2020-06-05 17:56] ali-habibzadeh opened #194 "[Question] Is there a way of getting the adapter to use local disk?"
When used inside AWS Lambda, the only persisted location (kinda) is /tmp. Is there a way to get this adapter to cache responses locally?

[2020-06-07 20:38] #194 closed

[2020-06-23 21:05] alexllao opened #197 "Is possible to store data into Firebase with some connector¿?"
Thnks a lot.

[2020-06-28 21:33] EvanLovely commented on #99
Yep, looks it's been merged: https://github.com/axios/axios/pull/2207

[2020-06-28 21:36] EvanLovely commented on #99
Hmm... 🤔 the `package.json` says it's been updated:

https://github.com/RasCarlito/axios-cache-adapter/blob/137f392ffcfe1a3d00a2e950f0317130bb44b2e7/package.json#L82-L84

[2020-07-04 09:48] ttkien commented on #168
@DmitriyNikolenko I created Pull Request here. Please help me approve or vote it https://github.com/RasCarlito/axios-cache-adapter/pull/169

[2020-07-06 16:09] burnoo commented on #99
It's working, but haven't been released yet. You can install new version by:
[code]

[2020-07-15 21:01] Brain2000 commented on #142
I just spent 2 hours tracking the same thing down, and I found you guys hanging out in here.

[2020-07-20 01:46] elamperti commented on #99
Workaround for anyone else trying this with axios 0.20 or above: instead of using `setup` just use axios.create + `setupCache`, so it doesn't rely on the axios version stated in the package.json of this cache adapter.

[2020-08-06 16:47] victors1681 commented on #99
it's working fine with axios 0.19.2 https://codesandbox.io/s/axios-cache-api-testing-wk3o4

[2020-08-07 12:31] jpsains opened #203 "Does it cache unsuccessful requests"
Hey,

Thanks for the library.

Will it cache unsuccessful requests?

For example, 500s

As you can imagine I dont want this cached. I tested and it looks like it isn't but I just wanted to make sure with you?

[2020-08-22 06:02] kirakatou opened #204 "network first if fail return cache"
Can i make it always tried call for network first, if got error or no connection then return the cache ?

[2020-08-27 10:32] arvind-bhaskar opened #206 "RedisStore - Using direct Redis commands instead of hash Redis commands"
Can we use the direct Redis `get`, `set`, `del` commands instead of `hget`, `hset`, `hdel`?

#### The reason

- On using the hash command the expiration of the particular hash list is set to infinity.
- And on accessing the Request Cache it iterates all the keys and deletes only one key if the length exceeds the provided max length
- It uses `hgetAll` to iterate all the keys which are of O(N) time

[2020-09-03 14:07] bencergazda commented on #204
@kirakatou This should answer your question: https://github.com/RasCarlito/axios-cache-adapter#read-stale-cache-data-on-network-error

[2020-09-04 08:33] rchavik opened #211 "Question: transformRequest with axios-cache-adapter"
I have a transformRequest configured for axios that convert date strings into Date/moment object.

When using axios-cache-adapter, the result is correctly cached but transformRequest seems to be ignored.  Is there a way to combine these two together?

[2020-09-04 10:03] rchavik commented on #211
Seems there's an issue with my transform. Closing for now.

[2020-09-04 10:03] #211 closed

[2020-09-07 03:37] java-james commented on #183
+1
Documentation reading
[code]
Isn't this defaulting to undefined?

[2020-09-08 13:55] ahayes91 opened #212 "axios-cache-adapter causes leaks in unit tests when running jest with `--detect-leaks`"
This took a while to track down - we're seeing issues with the performance of tests in our monorepo when running in the CI, and after some investigation using the `--detect-leaks` flag in jest, I've identified that the leaks are occurring in our use of the `axios-cache-adapter` package.

Repository to reproduce this issue:
https://github.com/ahayes91/TestTimeouts

- https://github.com/ahayes91/Tes

[2020-09-11 02:45] jahead commented on #185
@RasCarlito what's left on the TODO for this?
 Is there anything we can do to help?
Axios is at v20 now also.

[2020-09-11 14:23] lobosan commented on #99
is this still an issue?

[2020-09-16 00:14] sgarciac commented on #183
You are right.

[2020-09-18 03:28] jahead commented on #155
We use 0.19.2 without a problem, but I'd wait until the official word. I do know we had to use axios.default.adapter to get the adapter to conditionally reset, that's not cache's fault but axios arcane resolution logic for the config merge.
<img width="594" alt="image" src="https://user-images.githubusercontent.com/5070464/93552003-b090dc80-f9b2-11ea-9a72-0e24d4d2ede5.png">

[2020-09-18 03:31] jahead commented on #99
We use 0.19.2 without a problem.
I do know we had to use axios.default.adapter to get the adapter to conditionally reset, that's not cache's fault but axios arcane resolution logic for the config merge.
[code]
I think axios 0.20, changes this again.

[2020-09-18 03:50] jahead opened #214 "Axios is out of date"
Axios is now at v0.20.0 and the issues with 0.19.0 seem to have been solved.

[2020-09-21 19:06] sgarciac commented on #183
(just to be clear, the issue is that currently one can not set a number)

[2020-09-22 05:20] java-james commented on #168
+1 experiencing this issue.

[2020-09-22 06:00] java-james commented on #168
My temp work around for anyone else depending on this lib:

[code]

[2020-10-03 11:43] boedy opened #220 "Override cache key per request"
This issue is similar or might be related to https://github.com/RasCarlito/axios-cache-adapter/issues/99. I'm not able to override the cache key per request:

[code]

It keeps using the default key.

Here is an example where this bug is exposed (thank you @jahead for the example code from other issue ;) )
https://codesandbox.io/s/axios-cache-api-testing-forked-xr64f?file=/src/App.js

[2020-10-10 12:51] daidatian opened #221 "Can the cache be cancelled when the status code is 200 but the response is incorrect"
I tried to use the readOnError option, but when the request status code is 200, it does not trigger. I need a custom configuration to determine whether to save the network response in the end

[2020-10-22 06:15] jahead commented on #220
Let me have a look. What version of axios are you using?

This might be fixed with the update to axios 20. Just waiting on @RasCarlito for merging #215

[2020-10-22 06:35] jahead commented on #220
https://codesandbox.io/s/axios-cache-api-testing-forked-y146g?file=/src/App.js
This solution works.

[code]

[2020-10-22 13:09] boedy commented on #220
Thanks @jahead! I'm assuming your proposed solution is a workaround for now? Initialising a full adapter seems a bit much. I'll have a look at your PR and maybe just use that instead.

[2020-10-26 13:20] mdmundo commented on #82
For those who wants to try this now, just use `npm i axios-cache-adapter@3.0.0-beta.0`. Am I right?

[2020-10-26 16:36] armond1978 commented on #82
The pull request (https://github.com/RasCarlito/axios-cache-adapter/pull/94) has not been merged yet.

[2020-10-31 13:02] feeedback opened #224 "Add the ability to customize your own caching value selection function, similar to the key selection function?"
[code]
[https://github.com/RasCarlito/axios-cache-adapter#options](https://github.com/RasCarlito/axios-cache-adapter#options)

[2020-11-03 04:59] feeedback commented on #224
Okay, I'll be using third party solutions. This is probably correct if I want more flexibility in the settings.
https://www.npmtrends.com/node-cache-vs-apicache-vs-lru-cache

[2020-11-03 04:59] #224 closed

[2020-12-02 18:29] vegidio commented on #203
Have the same issue. Seems to be caching failed requests for me.

[2020-12-06 20:42] keithslater commented on #117
Anyone find any other solutions for this? `response.request.fromCache` returns `undefined` for me also

[2020-12-14 09:28] waotaa commented on #117
It fails for me too

[code]

I run this request in multiple iterations fetching all 350 items in 35 requests.

[code]

The debug tells me that when I redo all 35 requests that the cache is 'missed'.
How can I cache these paginated requests?

[2020-12-14 09:52] waotaa commented on #117
Oh I found my mistake, maybe it will help others too.

I placed my `setupCache` in a vue component where it was destroyed / rebuild everytime I switched views and came back.
I created a seperate class for it like this:

[code]

[2020-12-19 01:30] CaptainCodex commented on #183
There has been multiple pull requests for this for half a year. Is the repo owner planning to merge one of them in?

[2021-01-18 18:26] dnuske opened #225 "README is wrong"
Readme document fails to mention that this lib only caches GET calls.

As can be seen on this line of the source code:
https://github.com/RasCarlito/axios-cache-adapter/blob/2.5.0/src/request.js#L19

Please fix that.

[2021-01-21 14:01] merobal commented on #214
The latest version now is 0.21.1. Can anyone confirm is it safe to use that version, also update PR #215 to match with that?

[2021-01-21 14:04] merobal commented on #214
@RasCarlito any plan to update this?

[2021-01-22 00:21] maxwellsmart84 commented on #214
bumping this - i was about to use this package but because of this very reason I decided against it.

[2021-01-22 07:37] nolde commented on #99
What is the current state of this issue? Can it be used with axios versions above 0.18.1? Has the package version been fixed, to avoid having multiple versions of axios being used?

[2021-02-01 10:49] #214 closed

[2021-02-01 15:33] RasCarlito commented on #99
Should now be fixed with lastest release https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.6.0

[2021-02-01 15:33] #99 closed

[2021-02-01 15:33] RasCarlito commented on #183
Should now be fixed with latest release https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.6.0

[2021-02-01 15:33] #183 closed

[2021-02-01 15:35] RasCarlito commented on #220
Should now be fixed with latest release https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.6.0

[2021-02-01 15:36] RasCarlito commented on #155
Should now be fixed with latest release using axios 0.20.x https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.6.0

[2021-02-01 15:36] #155 closed

[2021-02-01 15:37] RasCarlito commented on #142
Thanks for all the work put in.
Should now be fixed in latest release https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.6.0

[2021-02-01 15:37] #142 closed

[2021-02-01 16:07] RasCarlito commented on #225
Should now be fixed in latest release https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.6.0 thanks to this PR https://github.com/RasCarlito/axios-cache-adapter/pull/128

Documentation is maybe not much clearer yet but I'll be working on making it better 🙂

[2021-02-01 16:08] #225 closed

[2021-02-01 16:10] RasCarlito commented on #117
Please try latest release https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.6.0 and open a new specific issue if needed.

Cheers

[2021-02-01 16:10] #117 closed

[2021-02-02 10:46] RasCarlito commented on #214
Should be fixed with latest release https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.6.0

[2021-02-02 10:51] RasCarlito commented on #212
Hello @ahayes91

Thank you for this investigation and for uncovering this leak issue. I've been away for a while (as you probably noticed).

I will look into this as soon as I can.

Cheers

[2021-02-02 14:08] RasCarlito commented on #203
🤔 Really that should not be possible, which version are you using?

[2021-02-03 09:42] RasCarlito commented on #168
Should now be fixed in latest release https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.7.0

[2021-02-03 09:42] #168 closed

[2021-02-03 09:42] #204 closed

[2021-02-03 09:44] RasCarlito commented on #206
Merged and released in the latest version https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.7.0

[2021-02-03 09:44] #206 closed

[2021-02-03 14:09] JCass45 opened #230 "2.6.0 Adding ability to cache requests made with methods beyond GET is a breaking change"
Hello 👋

Today we had the below unit test fail, due to the change introduced in `2.6.0` that now _automatically_ caches requests made with HTTP verbs outside of GET (i.e. POST, PUT etc.). I think the behaviour should be for consumers to opt-in to this enhancement through a config option, and the default behaviour should remain. Otherwise it is a breaking change and should result in a major version

[2021-02-04 12:30] langri-sha commented on #82
With https://www.npmjs.com/package/axios-cache-adapter/v/2.7.0, my store does receive `setItem` calls with buffered data:

[code]

I only had to update `getItem` for my store:

[code]

I'm not familiar with Axios too much and I'm using some other contributing packages, so sorry if that's not the case for you!

[2021-02-05 19:13] chidev commented on #138
I set it up like this:
[code]

[2021-02-05 19:44] ErikGMatos commented on #138
I use an auxiliary function to define what I want to be in the cache or not

`
// Function helper
const URL_CACHED = [/users/]; // regex of the route that I WANT to stay in the cache, 'users' will be cached.

export function getURLCached(req) {
  const { url } = req;
  const urlMapped = URL_CACHED.map(pattern => {
    const patternRegexp = new RegExp(pattern);
    return patternRegexp.test(url);

[2021-02-10 11:21] boedy commented on #220
@RasCarlito I just tried the 2.7.0 release. Unfortunately this issue still exists. Setting a `key` override has no affect.

[2021-02-11 12:27] lainas262 commented on #230
I agree with the above. Codebases using the adapter make the assumption that only GET requests get cached and now need to go through a migration process to update all calls with other methods to control caching. I may be wrong, just sharing my thought 😄

[2021-02-11 19:30] cnhuye opened #231 "Does it works when duplicate requests run in same time ?"
In my situation,
[code]

4 requests run in same time, none of them use cache, I have 4 xhr requests.

Does axios-cache-adapter support caching request before the first request finished, so I can have only 1 real request ?

[2021-02-17 08:35] RasCarlito commented on #230
Hello @JCass45 really sorry for introducing this breaking change. Will work on restoring previous default behavior of caching only GET requests and introduce a specific option to extend it to other methods.

[2021-02-17 08:49] RasCarlito commented on #231
Hello @cnhuye

I don't think that is possible, well at least not cached automatically by the adapter. We need at least one response else we can't know what to cache.

It would be possible to push data to the cache store manually.

[2021-02-17 09:55] JCass45 commented on #230
@RasCarlito 🙏🏻 Appreciate it!

[2021-02-17 14:41] RasCarlito commented on #220
@boedy I'll have a look ASAP 🙂

[2021-02-18 17:31] ahayes91 opened #233 "Improve documentation around using localForage drivers with axios-cache-adapter"
I'm using axios-cache-adapter for client-side caching, and I'm updating our instance to use a localForage store instead of relying on in-memory storage.
https://www.npmjs.com/package/axios-cache-adapter#use-localforage-as-cache-store has some code examples on creating the localForage store to be used with axios-cache-adapter, and the example provided specifically excludes localforage.WEBSQL as a d

[2021-02-19 22:02] jmcpheeATwestjetCom commented on #231
One solution would be to put a promise queue in front of the cache-adapter and debounce duplicate requests from there.

[2021-02-23 06:27] jahead opened #234 "support If-None-Match or/and If-modified-since"
Hey,

was wondering if it is possible, to use what we have to implement a pass-though cache, that can inject the If-None-Match from etag or if-modified-since into the request header?

Basically the idea would be to have.

`1st request -> response -> store cache + (etag|mtime) -> 2nd request -> inject If-None-Match|if-modified-since into cache -> if response is 304 Not Modified serve cache if not s

[2021-02-23 06:43] jahead commented on #234
I was looking at how it could be modified to include this functionality, I was thinking it could be pretty simple.

We would need yet another flag :(, but we would just have to teach the request function in getting the etag | mtime out of the serialized config in the store, injecting it into http request headers, and having the response function read from the cache store if it gets a `304 Not Modi

[2021-02-24 02:49] jahead commented on #197
You can override the store, you'd just need to implement a store that is based by firebase.

This is now I implemented the async storage for react native
[code]

[2021-02-25 04:57] jasperf opened #235 "Redis Axio Caching vs direct Axios MariaDB Calls"
Are there any benchmark tests showing how Axios caching stands vs direct Axios calls? Currently we have a database server and a web server connected internally on the same local network on DigitalOcean servers. One of the calls to menus for site is at the very end after other Axios calls, HTML and PHP as well as images. So to remedy this on subsequent calls for other pages we thought.. well let's

[2021-02-26 10:51] ahayes91 opened #236 "Add option to turn off caching / reset cache between tests"
I'm using axios-cache-adapter with a localForage store as per the example at https://www.npmjs.com/package/axios-cache-adapter#use-localforage-as-cache-store. I'm also using Mock Service Worker to mock responses to API endpoints in my unit and integration tests.

https://mswjs.io/docs/faq#why-do-i-get-stale-responses-when-using-react-queryswretc gives examples of how to reset the cache in between

[2021-02-26 10:57] citypaul commented on #236
@ahayes91 total coincidence that I'm doing something very similar at the moment and saw this post like 2 minutes after you wrote it!

I had the exact same issue in my code base. The way I got around this was to fire off different routes per test. It was a bit easier for me to do that because in our code base we're writing a custom HTTP client that will handle caching of certain requests for us, so

[2021-02-26 11:02] citypaul commented on #231
I've got a solution for this if you're interested. I wrote a custom debounce that works like this:

[code]

This will expose a client that can take extra `debounce` and `ttl` options in the `GET` request method. For our needs, we specifically only wanted the functionality for `GET` requests, but you can see how easy it would be to extend this for other HTTP methods here.

[2021-02-26 11:09] ahayes91 commented on #236
@citypaul Thanks so much for the suggestions! Great minds obviously.

Yeah this is exactly the issue for me, I've got different responses based on search query parameters, but I think Mock Service Worker can't really differentiate endpoints solely based on query params if you know what I mean: https://mswjs.io/docs/recipes/query-parameters

Not a bad idea but I have a bit of reticence in changing

[2021-02-26 11:29] citypaul commented on #236
@ahayes91 all totally fair responses, and I think your solution is probably the way to go for now. None of these are ideal solutions, but for now I guess it's just a matter of having to take a pragmatic approach. Mock heavy isn't ideal, but it's just the nature of the beast when it comes to caching. Caching is hard!

I'm not related to this project in any way btw, so perhaps the author might be ab

[2021-02-26 16:08] RasCarlito commented on #220
Just to let you know, I'm working on a fix for this. The cache `key` option was not included in the request override. I have an issue to fix on the tests and I will post the PR and probably make a release right after because I have another PR ready to be merged.

[2021-02-26 17:08] RasCarlito commented on #236
Hello @ahayes91

If you passed your own store instance as you do with localForage you can use the [`clear()` method](https://localforage.github.io/localForage/#data-api-clear) on the local forage instance to empty the cache.
You can also access the storage instance through `cache.store` property and thus call `await cache.store.clear()` on it.

If you use the `setup` method to instantiate axios in

[2021-02-26 18:43] jmcpheeATwestjetCom commented on #231
@citypaul Hi,

One gotcha I found doing the debouncing was that returning just the cached value might cause issues if you are using any axios transforms or interceptors.

 The data gets cached prior to being processed by the transforms (and/or interceptors, I forget exactly). It looks like your method above is just returning the cached data.

 The implementation we are using waits for the axios re

[2021-03-01 08:57] #230 closed

[2021-03-01 08:57] #220 closed

[2021-03-01 09:07] RasCarlito commented on #220
Ok now it should really be fixed in latest release https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.7.1

[2021-03-01 09:08] RasCarlito commented on #230
Should be fixed in latest release https://github.com/RasCarlito/axios-cache-adapter/releases/tag/2.7.1

[2021-03-03 02:41] jasperf commented on #235
We decided to use Laravel Cache Facade for basic database request caching https://laravel.com/docs/master/cache . We however still seem to miss ways to cache Axios Requests so they do not have to be made to the Redis or MySQL database. So we are looking into `localStorage` and `Forage` and so perhaps still the Axios Cache Adapter.

[2021-03-03 10:19] ghost commented on #235
Hello @jasperf thank you for considering using axios-cache-adapter.

Sorry, I do not have benchmarks showing how faster it would be using the adapter with a local store vs actually making a network request, it depends on a lot of things. But generally speaking, it should be faster (except if you have a crazy fast internet connection then it might just be similar I guess).

I am currently not using

[2021-03-05 14:10] jcass8695 commented on #230
Yep confirmed 👍

[2021-03-10 15:12] robertovaldesperez opened #240 "It is not caching post requests"
[code]

it is only caching get requests
![image](https://user-images.githubusercontent.com/15571467/110651399-b2966400-81bb-11eb-9254-dd2c34daca77.png)

[2021-03-12 09:20] ghost commented on #197
Hey @alexllao !

Closing issue because as @jahead said you can implement your own store adapter. If you'd like firebase adapter to be included with axios-cache-adapter you can submit a PR.

Cheerss

[2021-03-12 09:20] #197 closed

[2021-03-18 06:34] AbhishekPrajapati opened #241 "It is not caching GET request having query strings"
It caches GET requests but when any GET request has query string, It is not caching.

Example URL is like: 'api/candidates?active=true'

[code]

    Am I missing anything?

[2021-03-19 13:54] ghost commented on #241
Hey @AbhishekPrajapati

Thanks for using axios-cache-adapter.

By default requests with query parameters are excluded from cache. You need to set the `exclude.query` option to `false`.

[code]

Be advised, the query parameters are serialized and used in the cache key so requests to the same URL with different query parameters are cached separately 🙂

I'll let you close the issue if all is good.

C

[2021-03-19 13:56] ghost commented on #241
Check out the full list of options: https://github.com/RasCarlito/axios-cache-adapter#setupcacheoptions

[2021-03-21 22:26] AbhishekPrajapati commented on #241
Yeap @RasCarlito, That is working properly by setting `exclude.query` option to `false`.

I appreciate your quick response.

[2021-03-21 22:26] #241 closed, assigned to nobody

[2021-03-25 20:02] ablakey opened #242 "Set maxAge to forever?"
I've tried to set `maxAge: Number.POSITIVE_INFINITY` but that does not get respected as "forever".

Is there a way to tell the cache to simply never invalidate (because I know I'm serving up immutable records at these URLs)?

[2021-03-30 08:55] ghost commented on #242
Hey @ablakey

I don't understand why it does not work 🤔
`maxAge` is being added to `Date.now()` to get the actual expiration date.
Doing `Date.now() + Number.POSITIVE_INFINITY` becomes `Infinity` and `Infinity < Date.now()` is always `false` so the cache should end up never expiring.

I will add a test to actually verify the behavior.

Could you share how you setup axios-cache-adapter? Is it in th

[2021-03-30 09:08] ghost commented on #242
You may also put axios-cache-adapter in debug mode by passing `debug: true` option. You will get extra logs to analyze cache behavior 🙂
More specifically you should get `cache-hit` logs for your URLs configured with `maxAge: Number.POSITIVE_INFINITY`. If not then there is definitely an issue somewhere.

[2021-03-30 13:00] ablakey commented on #242
Thanks for the tips.

I can reproduce and with debug I get `cache-stale`.
## Configuration
- axios-cache-adapter: 2.7.3
- Browser (Chrome 89)
- Store: memory

[code]

## Debug Logs
[code]

If I keep the exact same config and context, and set maxAge to a finite number like  `1000 * 60 * 60` it works fine.

Let me know how else I can help you reproduce and debug this issue.

[2021-04-02 12:06] Sjolus opened #243 "If Cache-Control header is present, Expires header is ignored"
https://github.com/RasCarlito/axios-cache-adapter/blob/master/src/response.js#L24

The else if here makes it so that if:
* There is a cache control
* There is **no** cache-control-max-age header
* There is an Expires header

The Expires header is ignored.

[2021-04-13 02:55] taily-khucnaykhongquantrong opened #245 "Invalidate on response"
My server API doesn't return `400 - 500` response code to throw error. They use a specific response with structure such as `{ err: number; msg: string }` with `200` response code. I could use `axios interceptor` to throw error, but that would not be cached. That's why invalidate on response is really important to me.
PS: I'm not using `GraphQL`.

[2021-04-17 03:21] wctiger commented on #231
A simple workaround (or even something can be eventually added) is to have an "inflight request" map in front of the cache to store the unresolved promises. So when the promise resolves, All the `then`s get the data, and it's safe to consider the request is done, so it can be deleted from the map.

[code]

[2021-04-17 17:00] nikolaslecce commented on #233
Were you able to find a solution for this?

[2021-04-19 08:24] ahayes91 commented on #233
@nql5161 nope, couldn't get WebSQL working so we ended up using LocalStorage as the driver. Here are the general findings I documented internally before I had to move on:

- WebSQL didn't seem to work at all for caching requests in Chrome & MacOS when we tried it on its own (all network calls were being repeated, even if the maxAge of the request was greater than 0).
- IndexedDB was quite reliable

[2021-04-28 08:31] Dupflo opened #246 "Cache is still at 0"
import axios from 'axios'
import { setupCache } from 'axios-cache-adapter'

// Create `axios-cache-adapter` instance
const cache = setupCache({
  maxAge: 5 * 60 * 1000,
})

const api = axios.create({
  adapter: cache.adapter,
})

export const getTimeline = async () => {
  let tweets = {}

  const response = await api({
    url:
      'https://api.twitter.com/2/users/106699049/tweets?exclude=retwee

[2021-05-19 04:27] zhenwenc opened #247 "Invalidate oldest cache entry when exceeding store limit"
If the maximum number of cached requests is specified to the `setupCache` function, I would expect the oldest cache entry (by comparing the `expires` value in each stored item) will be removed from the store when the store size is reaching the limit.

However, a random entry in the cache will be removed instead when using the built-in `MemoryStore` or `RedisStore`, essentially item with the first

[2021-07-01 06:53] paramov opened #249 "ReferenceError: setup is not defined"
I get the error **ReferenceError: setup is not defined.**

Example on codepen : https://codepen.io/krocom/pen/JjNdPJm

Did I misunderstand the working logic?

I'm still a beginner, can you help me?

[2021-07-15 00:03] KristianAlonso commented on #231
This is what I did and works!

This is an improvement and correction for my previous answer at *2021-07-14*, because I didn't consider an error response and I never delete that errored request from `runningRequests`

Check the correction:
[code]

[2021-07-18 12:32] dimdimi4 opened #251 "Typescript: Module '"axios-cache-adapter"' has no exported member 'serializeQuery'"
As described in the title, `serializeQuery` function not defined in type script definition `axios-cache-adapter.d.ts`.

[2021-07-27 21:32] zhenwenc commented on #247
Bump

[2021-08-06 09:58] sayginburak opened #254 "Set max-age according to the response"
Firstly, I know about parameters for setting the max-age according to cache-control header. But what I mean is different. I want to look at the response itself and decide how much time I want to cache this response acording to the data in the response. Is this possible to do?

[2021-08-09 02:19] ouyuran opened #255 "Is it possible to cache binary data?"
I've tried to cache an image url but failed.
[code]
The output is undefined, undefined and 0.

I think the reason might be it uses `JSON.parse(res.data)` to serialize data before `setItem`.

What's more, can we try to cache the response with content-type stream?

If you you guys think they are valuable features I'll be happy to implement they.

[2021-08-12 03:01] bluelovers opened #256 "support cache responseUrl"

[2021-09-14 11:18] muuvmuuv commented on #97
@klh did you find a workaround for this or other solution?

[2021-09-23 10:26] arthurfiorette commented on #231
I was having the same problem. I tried to fix it *(and some other things)*, but I ended up modifying so many things in this package that it felt like it would be more worthwhile to create another one. So i created `axios-cache-interceptor` to solve this and other problems I had.

We are already using it in production and it has enough unit tests, so far so good. If you want to take a look: https:/

[2021-09-23 10:36] arthurfiorette commented on #174
I went through the same problem. So i created another package to solve this and others things.
If someone else has also stopped here to resolve this, take a look: https://github.com/ArthurFiorette/axios-cache-interceptor

*In [here](https://github.com/RasCarlito/axios-cache-adapter/issues/231#issuecomment-925687641) i explain better why i created another package.*

[2021-10-01 12:31] mikerogerz opened #257 "Bump axios dependency to support axios 0.22.0"

[2021-10-18 00:10] himasimplisafe opened #260 "Redis Debug option to check values stored in keys"
Hi, once redis client is configured with RedisStore or RedisDefaultStore, Is it possible to see redis cache keys values using redis-cli commands like `keys *` and `hkeys *` to see what values are stored in cache? I have also tried options like `clearOnStale`: false and debug: true to find out what redis keys are used.

[2021-10-18 07:52] Drakolis commented on #246
@Dupflo you have query params, you can check this issue out https://github.com/RasCarlito/axios-cache-adapter/issues/117
you need to enable caching for requests with queries.

[2021-10-20 16:11] timtucker-dte commented on #257
Now 0.23.0

[2021-10-29 14:04] futhr commented on #257
Now 0.24.0

[2021-11-07 14:52] allindeveloper opened #262 "Great Library, Reduce Unpacked Size"
Hi
Thanks lot for this  @library

I use it to cache my Axios get requests and it works great....

Although the unpacked size is about 1.35 MB, anyway that can be reduced ?

[2021-11-22 19:35] seba9999 commented on #92
Any news for this feature ?

@mohamedgomran did it on his repo ... But linked to [this problem](https://github.com/npm/cli/issues/2610) with npm7 I can't use it in my CI ...

@RasCarlito
Is this implemented in the V3 ?  Could you elaborate on this sentence ? :
" Cache non GET requests with a custom exclusion **config** "

I can't tell if it takes into account the POST params ... with an hash as mo

[2021-12-08 22:33] OiYouYeahYou opened #263 "Code in documentation fails: `Use redis as cache store`"
The code  example [Use redis as cache store](https://github.com/RasCarlito/axios-cache-adapter#use-redis-as-cache-store) when configured correctly

* Node: 16.6.1
* axios-cache-adapter: 2.7.3
* redis: 6
* Ubuntu: 20.04

The error stems from this code:
https://github.com/RasCarlito/axios-cache-adapter/blob/2d51cee4070ff88f2272533f9593fd41a392f52c/src/redis.js#L7-L17

Could this assertion be removed

[2021-12-09 00:10] OiYouYeahYou commented on #263
So digging into the issue more, and the constructor name is `Commander` instead of `RedisClient`

[2021-12-20 15:35] timminss commented on #263
It looks as though node-redis had a major version bump recently, causing this issue. A couple of options:

1. Use node-redis v3
2. Write your own version of RedisStore, using a redis client of your choosing (ioredis is another option)

[2021-12-23 17:50] OiYouYeahYou commented on #263
@timminss, Is this really a solution though? Would a better solution to be to remove the assertion or to update the documentation?

[2022-01-04 12:59] rsadr0pyz commented on #262
This package doesn't look like it's being maintained, so while i was looking for other options, i found [`axios-cache-interceptor`](https://github.com/arthurfiorette/axios-cache-interceptor).

I was having problems into accepting `axios-cache-adapter` package in my company because it's has a bigger size than axios itself.

At 0.7.9, `axios-cache-interceptor` has **11.9kB** minified.

[2022-01-04 13:04] rsadr0pyz commented on #257
Sorry to say, but it looks like this package is not being maintained. If anyone is looking for new ones, take a look at [`axios-cache-interceptor`](https://github.com/arthurfiorette/axios-cache-interceptor).

[2022-01-04 13:11] rsadr0pyz commented on #234
[`axios-cache-interceptor` implemented this. ](https://github.com/arthurfiorette/axios-cache-interceptor/issues/49#issuecomment-964326661)

[2022-01-04 13:16] allindeveloper commented on #262
Hmm, looks great
Thanks!

[2022-01-04 13:22] BombaCrazy commented on #245
I had the same problem. found a better library where you can use a predicate to check if the request should be cached.
https://github.com/arthurfiorette/axios-cache-interceptor#requestcachecachepredicate

[2022-01-04 13:30] BombaCrazy opened #265 "Is this package still being maintained?"
This library was last updated on [March 3, 2021](https://github.com/RasCarlito/axios-cache-adapter/commits/master). There are so many cool features to be done and there are many issues being accumulated...

[2022-01-04 13:32] BombaCrazy commented on #265
Anyways, axios cache interceptor is doing a better job.
https://www.npmjs.com/package/axios-cache-interceptor

[2022-01-04 13:32] rsadr0pyz commented on #265
true

[2022-01-21 11:07] MadCoderr commented on #175
Hi, it might be helpful for someone, you can cache the POST request with data

`"axios-cache-adapter": "^2.7.3",`

here's how i did it,

created a store following this example [https://www.npmjs.com/package/axios-cache-adapter#use-localforage-as-cache-store](url)

[code]

  and here's how i use the store to fetch response

[code]

[2022-03-01 12:36] AkiraTach commented on #263
It's adapter for radis 4.0.4
You can replace ```import { RedisDefaultStore } from 'axios-cache-adapter'``` with ```import RedisDefaultStore from './RedisDefaultStore';```.

RedisDefaultStore.ts
[code]

[2022-03-08 01:06] rawnly opened #267 "TypeError: first paramter must be a valid `RedisClient`"
Hello, I think I found a bug in the library. When I try to initialize the `RedisStore` I get the following error:

[code]

I think that the problem is [here](https://github.com/RasCarlito/axios-cache-adapter/blob/master/src/redis-default.js#L10), since when I try to log `client.constructor.name` I get `Commander` instead of `RedisClient`.

Here's my code:

[code]

[2022-03-17 12:59] jubeiam commented on #267
Same.
Using redis@^3 resolved my problems

[2022-04-08 15:34] jodoox opened #268 "Throttle calls only if url not in cache"
Ideally I'd want to throttle my requests that are not present in the cache (but serve them immediately if they've already been fetched). I've put below an extract from https://github.com/kuitos/axios-extensions that gives an idea of what I'm looking for
[code]
It seems like this cannot be done with the adapter returned by `setupCache`, given that it will try to find the query in the cache and then

[2022-04-23 14:05] victorcarvalhosp commented on #265
Tried for hours to make the cache work using this without success(cache simply didn't work no matter what I tried) - and made it work in less than 5 minutes with https://www.npmjs.com/package/axios-cache-interceptor

[2022-05-19 08:41] MockingMagician opened #269 "Just a question about readOnError for network errors"
Hi folks,

Is it possible to configure cache-adapter in some way that it just return cache **ONLY** on network erros ?

Best regards,

[2022-07-26 23:36] visualjeff opened #270 "Is it possible to get axios-cache-adapter to work with a more current version of Axios?"
axios-cache-adapter@2.7.3 is not compatible with axios@0.26.1

Is it possible to get a version of the module that is compatible with axios@0.26.X

[2022-07-26 23:46] luansmelo commented on #270
Try [axios-cache-interceptor](https://github.com/arthurfiorette/axios-cache-interceptor)

[2022-07-27 16:16] visualjeff commented on #270
I'll check it out.  Thanks you for the tip.

[2022-08-11 19:14] dudedigital commented on #270
Will this repo receive an update?

[2022-08-17 17:23] KumarSumitD opened #271 "Custom Invalidate Function - Type Error on removeItem, uuid"
Hi,
As per the Readme https://github.com/RasCarlito/axios-cache-adapter/blob/master/README.md?plain=1#L366.
Custom invalidate function can be defined and the cache can be busted by -
await config.store.removeItem(config.uuid)

There are two types issue -

- Property 'removeItem' does not exist on type 'object'.
- Property 'uuid' does not exist on type 'IAxiosCacheAdapterOptions'.

We can try makin

[2022-08-29 02:58] Anenth commented on #214
The latest axios is 0.27, @RasCarlito can we bump the version?

[2022-09-21 13:19] sherali-1 commented on #270
any news?

[2022-09-29 06:03] SarveshSharma06 commented on #267
Hi,

Facing similar issue with redis version `^4.3.1` .. any thoughts or reference on this if this issue still exists and workaround for it?

[2022-11-03 12:15] BleddP commented on #267
If you must use Redis ^4.0.0 you can take the RedisStore class from src and create your own component. I just tried this and it works for me with Redis legacymode and Node 14. Might be better to just use Redis 3, because its a bit of a headache, but just in case someone needs it:

[code]

So you must await your `getRedisStore` and use that as your store in the `setupCache`.

RedisStore.js (note I'